[2017-06-28 13:03] #547 closed

[2017-06-28 13:30] zaziemo opened #583 "admin edit view: adapt to profile edit for users"

[2017-06-29 16:52] #578 closed

[2017-06-30 08:50] zaziemo commented on #548
information is added.

is there a reason why we added the email address in the profile edit section? Because: it is already in the account section as well. Should we simply remove it from profile edit?

[2017-06-30 08:58] zaziemo commented on #513
-> short question? what do you mean by media_url, @tyranja. Isn't that the field for the picture URL? Do you mean the medialinks?

[2017-06-30 09:01] zaziemo opened #586 "after adding new fields to globalize: how to migrate existing data?"
as described in #513 we want to translate more fields.

How do we treat the content that is already there?

idea:
* if person only speaks one language we transfer all content to _en or _de
* if person speaks more languages, we copy it in both contexts and write an email to all the people to revise their profile

[2017-06-30 09:01] tyranja commented on #513
yes, medialink :roll_eyes: all the names!!

[2017-06-30 09:08] zaziemo commented on #548
@tyranja does that mean I should remove it?

[2017-06-30 09:39] #548 closed

[2017-06-30 13:52] zaziemo commented on #520
I have no idea how to make search results visible in the view via capybara - do we need that or do we only have to test if the mechanism is working. This example also doesn't test the frontend output: https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/test/integration/active_record_basic_test.rb

[2017-07-01 12:38] tyranja commented on #586
I would say it depends what field we are translating:

city -both
twitter - both
website -both
tags
media URL

[2017-07-02 09:55] zaziemo commented on #520
decided to keep it like that. The search results aren't rendered in the capybara output so I can't test the whole interaction. Since we already test search model and controller. And if the relevant elements are in the UI. This should be enough.

[2017-07-02 09:55] #520 closed

[2017-07-02 10:03] zaziemo opened #587 "adapt views to globalized fields"
after #513 & #586

[2017-07-02 14:07] tyranja commented on #582
Happened automatically.

[2017-07-02 14:07] #582 closed

[2017-07-02 14:12] tyranja commented on #470
https://hashrocket.com/blog/posts/how-to-upgrade-to-rails-5

[2017-07-03 16:23] zaziemo commented on #518
is working now - one profile that has no slug has empty name fields

[2017-07-03 16:23] #518 closed

[2017-07-03 18:08] tyranja opened #589 "Add more tests for medialink"
- [x] test medialinks destroy
- [x] test medialinks edit

[2017-07-03 19:08] #576 closed

[2017-07-03 19:24] zaziemo commented on #471
add user stories to make clearer what we want

[2017-07-03 19:59] bioshrimp commented on #577
or you could keep the old version but change it up a little. for example the speakerinnen logo for mobile could just contain the initials  "SL" so everything could be bigger. or change it all together of course with a illu you posted.

[2017-07-04 08:20] tyranja opened #590 "Make a link to categories on the landing papge"
Before we applied the new search we had a link to categories. since 105 our user used categories it would make sense to add that link back.

[2017-07-04 08:42] zaziemo commented on #590
but the users also have access to categories via the other section of the homepage.
But nevertheless it's a good idea - we removed the links below the search field because of the readability  of the autofill suggestions. And also because we thought to display the categories on another place of the picture (remember Brigittes suggestion of the new homepage)?

[2017-07-05 14:48] #589 closed

[2017-07-05 15:11] zaziemo commented on #583
problems:
1) now as an admin, I can not edit or delete other peoples medialinks (is that correct?)
2) in admin edit view of a profile the medialinks of the admin's account are shown (which is definitely incorrect)

[2017-07-05 15:15] zaziemo commented on #583
ad 2 is solved

[2017-07-05 15:18] zaziemo commented on #583
ad 1 is not correct - in current version on production, an admin can edit other profiles medialinks

[2017-07-07 09:19] zaziemo commented on #574
we could also use the globalize scoping: https://github.com/globalize/globalize#scoping-objects-by-those-with-translations

[2017-07-07 09:26] zaziemo opened #592 "translate city field"
- [x] add it to globalize
- [x] run migrations, don't forget rake db:migrate RAILS_ENV=test
- [x] add it to globalize_accessors (add to globalize_accessors in model and to params in controller <field>_en, <field>_de and translations_attributes)
- [x] adapt profile edit
- [x] adapt profile show (works without adaptation: check why - is it because of fallback or not-yet-deleted :city field in profil

[2017-07-07 11:39] zaziemo commented on #534
new solution --> make city field a translated field via globalize, so every speaker can edit it by their own. Similar solution as we use for countries is not possible.

[2017-07-07 11:39] #534 closed

[2017-07-07 11:41] zaziemo commented on #586
obviously it is not possible to migrate existing field content to both translated field. Migration uses only default locale and then uses fallback.

[2017-07-07 11:44] zaziemo opened #593 "change default locale?"
Currently the default locale is :de.
Do we want to keep this? Do we still need this if we defined fallbacks and the choice of current locale according to the user's browser settings?

[2017-07-07 12:54] zaziemo opened #594 "API V2: integrate new translated fields"
currently the new translated fields are not yet integrated into the API - probably we should switch to use the globalize accessor structure instead of the nested structure right now:
`bio_de:`
`bio_en:`
instead of:
`bio: {
  en: "lkasdjflsf"
  de: "alksjdlasd"}`

[2017-07-10 11:59] zaziemo commented on #592
elasticsearch mapping is a little bit complicated, will talk about that with @BriocheBerlin on friday

[2017-07-10 11:59] zaziemo opened #595 "translate medialink fields"
- [x] add language field to medialinks table
- [x] show language field in medialinks edit
- [x] show language field in medialinks new
- [x] show language in medialinks show

#572

[2017-07-10 12:06] zaziemo opened #596 "translate twitter field"
- [x] add it to globalize
- [x] run migrations, don't forget rake db:migrate RAILS_ENV=test
- [x] add it to globalize_accessors (add to globalize_accessors in model and to params in controller <field>_en, <field>_de and translations_attributes)
- [x] adapt profile edit
- [x] adapt profile show (works without adaptation: check why - is it because of fallback or not-yet-deleted field in profiles_tab

[2017-07-10 12:07] zaziemo opened #597 "translate website field"
- [x] add it to globalize
- [x] run migrations, don't forget rake db:migrate RAILS_ENV=test
- [x] add it to globalize_accessors (add to globalize_accessors in model and to params in controller <field>_en, <field>_de and translations_attributes)
- [x] adapt profile edit
- [x] adapt profile show (works without adaptation: check why - is it because of fallback or not-yet-deleted field in profiles_tab

[2017-07-10 12:21] zaziemo commented on #592
ad 1) create migration according to: https://github.com/rubymonsters/speakerinnen_liste/blob/zaziemo-translate-city-field/db/migrate/20170707093704_add_city_to_profile_translation.rb

`rails generate migration addCityToProfileTranslation city:string`

[2017-07-10 13:39] zaziemo commented on #596
concerning migration --> should we do migration in more detail? people who do not talk german should have their content in <field>_en

[2017-07-10 13:48] zaziemo commented on #587
already part of the "globalization"

[2017-07-10 13:48] #587 closed

[2017-07-10 13:49] zaziemo commented on #583
works now

[2017-07-10 13:49] #583 closed

[2017-07-10 13:51] #531 closed

[2017-07-10 13:55] #302 closed

[2017-07-10 14:01] zaziemo opened #599 "create noreply email address"
to use it as the default :to address in notfications mailer --> speaker contact should be moved in :bcc
#563

[2017-07-11 08:21] zaziemo opened #600 "adapt topics/category filter site"
currently we use the "old" profile show partial to show profiles that are filtered by topic or category.
We want to use the "new" one.
![bildschirmfoto 2017-07-11 um 10 19 52](https://user-images.githubusercontent.com/2119496/28058937-ac2bd22a-6622-11e7-837d-b1c1d098555f.png)

[2017-07-11 08:26] zaziemo opened #601 "adapt titles of formfields in profile edit"
for better distinction and cleaner look

[2017-07-11 11:54] zaziemo opened #602 "master: profile edit should be saved if user leaves site"
currently if the user edits her profile and then edits a medialink or creates a new one, all previous changes made before to profile form fields are not saved.
We have to find a solution for that asap!

[2017-07-13 12:31] zaziemo opened #604 "write specs for admin_page"
- admin search
- admin should be able to edit profiles and not see her own profile

[2017-07-13 13:54] zaziemo commented on #586
we have to write a migration to copy the content of <field>_de into <field>_en

[2017-07-13 13:54] #586 closed

[2017-07-17 13:32] #604 closed

[2017-07-17 17:01] tyranja commented on #599
Done!

[2017-07-17 17:01] #599 closed

[2017-07-17 18:55] sadiksha commented on #470
Hi @tyranja ,
I am running the tests first before i start making any changes. I had one test failing though.

ProfilesController search action should store aggregations in aggs variable

Can you please let me know if this error exists or is it only in my system? Thank you.

[2017-07-17 19:10] #596 closed

[2017-07-18 08:05] tyranja commented on #470
Hey @sadiksha,
hm, locally the test are green on my machine and on travis-ci https://travis-ci.org/rubymonsters/speakerinnen_liste/builds/254570518.

I also started with updating the rails versionas you can see above in the link "update all gems", but you are welcome to work on that since I am busy with other tickets :)

[2017-07-18 08:07] zaziemo commented on #470
@sadiksha probably this has something to do with elasticsearch? You have to run elasticsearch during the test runs.

[2017-07-18 11:24] #563 closed

[2017-07-18 11:26] zaziemo commented on #602
can be closed, since we decided to restructure the code.

[2017-07-18 11:26] #602 closed

[2017-07-18 11:48] #600 closed

[2017-07-18 14:27] zaziemo opened #607 "improve UX in profile editing process"
- move Account section from header into profile edit
- move editing links from profile show to the end of profile_formfields
- user should only see "profile edit" in their landing page and have "next: edit references" and "change Account information" below the other basic fields

[2017-07-21 09:17] #513 closed

[2017-07-24 17:48] #607 closed

[2017-07-24 18:03] tyranja commented on #570
to the second solution: https://hamzakc.wordpress.com/2006/06/28/acts_as_taggable-with-different-language-tags/

[2017-07-24 18:18] #593 closed

[2017-07-24 18:19] zaziemo commented on #574
we decided against

[2017-07-24 18:19] #574 closed

[2017-07-24 18:21] zaziemo commented on #581
is only in structure but not in schema

[2017-07-24 18:21] #581 closed

[2017-07-25 12:11] zaziemo opened #610 "remove translated columns in profiles table"
- [x] twitter
- [x] website
- [x] city

[2017-07-25 12:12] #597 closed

[2017-07-25 13:03] #592 closed

[2017-07-25 13:11] zaziemo commented on #595
We decided not to use the same translation method via globalized for these fields because:
1. it is not the same item that is translated
2. even if the person gives talks in different languages, she might want to present them together and not seperated by locales.

So we decided to add a language column to the translation table and display the language infomation. Later we could make it possible t

[2017-07-26 15:12] zaziemo commented on #595
still to do --> show longnames of languages but store keys

[2017-07-26 16:34] #595 closed

[2017-07-27 13:24] #495 closed

[2017-07-27 13:52] #265 closed

[2017-07-27 13:56] zaziemo opened #613 "New database schema - until 18.9."
![db_overview_170726 001](https://user-images.githubusercontent.com/2119496/29803971-9a58dd62-8c7f-11e7-9395-785e0794f950.jpeg)

[2017-07-27 13:58] zaziemo commented on #570
Visualisation of @tyranja's idea
![db_overview_170726_idee 001](https://user-images.githubusercontent.com/2119496/28674006-6ab97e18-72e4-11e7-968e-2018546b3257.jpeg)

[2017-07-27 14:07] zaziemo opened #614 "write blog post/email for users to describe changes"

[2017-07-27 14:07] zaziemo opened #615 "update How-to with new profile edit"

[2017-07-27 14:08] zaziemo opened #616 "update FAQ for new search"

[2017-07-28 08:38] zaziemo opened #617 "overthink labelling of "previous talks" "Meine Vorträge""

[2017-07-28 09:06] tyranja opened #618 "Redesign the URL in the medialink view"
Medialinks: when its is not a youtube video (which is embedded) don't show the URL itself but make the title clickable.

Now:

![link](https://user-images.githubusercontent.com/1218914/28710567-c680eeac-7384-11e7-91ef-4b0d288c1e83.png)

[2017-07-28 12:21] zaziemo commented on #570
![db_overview_170726_idee 001](https://user-images.githubusercontent.com/2119496/28716941-0ce7b0d6-73a0-11e7-84a3-0a22416797b0.jpeg)

[2017-07-28 14:12] zaziemo commented on #616
<h3 class="pt">Wonach kann ich suchen?</h3>
    <p>
    Du kannst alle Felder durchsuchen, die die Speakerinnen* ausfüllen können:
    <br> Name - Sprachen - Stadt - Referenzen - Themen - Biografie - Titel
    <br> Mit AND und OR-Verknüpfungen kannst du auch Kombinationen suchen, z.B. Energie Berlin. Wenn du mehrere Begriffe hintereinander eingibst, werden sie automatisch als AND-Verknüpfung erkan

[2017-07-31 08:39] zaziemo opened #619 "add credentials for pictures on homepage (again)"
somehow they disappeared - add them again.
Picture of Maren: Tilman Vogler Photography
who is the photographer of the other one?

[2017-07-31 09:22] zaziemo commented on #507
https://www.wikidata.org/wiki/Wikidata:Introduction

[2017-07-31 10:35] zaziemo commented on #507
Information about wikidata labels: https://www.wikidata.org/wiki/Help:Label

[2017-08-01 08:35] zaziemo commented on #525
feedback from UX coach: categories list too much profiles to browse. Is it possible to limit these profiles to around 50?
Options:
1) have aggregations to filter as in search
2) create smaller/more specific categories

[2017-08-01 08:52] zaziemo commented on #493
Ame:
1) As a researcher/organizer you are visiting the site: https://speakerinnen.org/en/categories/10
What kind of profile are you expecting to find?
What do you think of the content of the tag cloud below? Does it meet your expectations?

- expect to find topic related profiles (companies/startups)
- extremly long list of profiles (should be around 50)
- extremly long list of topics inside profi

[2017-08-02 13:06] zaziemo commented on #493
conference organizer:

1) As a researcher/organizer you are visiting the site: https://speakerinnen.org/en/categories/10What kind of profile are you expecting to find

- I am expecting the name, job description (if relevant), company (if relevant, could help), language/s, topics, level of the talk topics (beginner friendly, intermediate, advanced, keynote), (social) media link (twitter (!!!), gith

[2017-08-02 13:28] #572 closed

[2017-08-03 10:06] zaziemo commented on #566
seems to need refactoring: main_topic_or_first_topic --> make it possible to eager load translations for main_topic

[2017-08-08 17:50] zaziemo opened #621 "tbd: make it possible to enter more than one country"
user feedback: "Da ich in zwei Ländern (D/CH) lebe, wollte ich beide auf meinem Profil eintragen"

--> it would be possible to choose multiple countries and would be consistent with the possibility to enter different cities as well. But would the form get to complex with another form field with checkboxes? Probably check multi select drop down

[2017-08-08 19:24] zaziemo opened #622 "create tag_languages table"

[2017-08-08 19:35] zaziemo commented on #622
![db_overview_170726 001](https://user-images.githubusercontent.com/2119496/29090890-5ebb8ff6-7c81-11e7-826e-c5315f8c16f4.jpeg)

[2017-08-08 19:39] zaziemo opened #623 "create associations between tags and languages"
models, controllers, views

[2017-08-08 19:39] zaziemo opened #624 "admin area: create new list view to assign languages to tags"
![img_0509](https://user-images.githubusercontent.com/2119496/29209255-e30b45a4-7e8d-11e7-8ed5-7bbd6ed9b33a.JPG)

[2017-08-08 19:40] zaziemo opened #625 "admin area: make tag list filterable according to language"
first step: create own edit view for languages
second step: integrate this view into /admin/tags/categorization if possible

[2017-08-08 19:41] zaziemo opened #626 "assign languages to tags"
must be done manually :(

[2017-08-08 19:43] zaziemo opened #627 "tag cloud: filter tag cloud according to current view"

[2017-08-08 19:45] zaziemo opened #628 "tag cloud: make it possible to see tags of all languages"

[2017-08-08 19:45] zaziemo opened #629 "profile edit: copy tags from default language in tag field of new language"

[2017-08-08 19:46] zaziemo opened #630 "profile show: show only tags that have assigned the language of the current locale"
what happens with tags that haven't assigned a language yet?

[2017-08-09 09:56] #622 closed

[2017-08-11 10:06] #623 closed

[2017-08-24 12:35] zaziemo opened #631 "admin/tags_controller: rename categorization method into index"
... and rename corresponding views etc.

[2017-08-27 16:33] zaziemo commented on #625
already works rudimentary but the filter of languages should work with AND operator, and not with OR https://github.com/rubymonsters/speakerinnen_liste/blob/add-languages-to-tags/app/services/tag_filter.rb#L25

[2017-08-27 16:35] zaziemo commented on #624
already integrated it in current admin interface.
Now I have to make it possible to destroy the unchecked value.

[2017-08-28 16:07] #625 closed

[2017-08-28 16:07] #624 closed

[2017-08-28 19:16] zaziemo commented on #629
we don't need it right now

[2017-08-28 19:16] #629 closed

[2017-08-28 19:16] zaziemo commented on #630
do we really want that?

[2017-08-29 04:12] zaziemo opened #633 "admin: make checkboxes for categories' assignment"
change category assignment via links working via checkboxes: https://github.com/rubymonsters/speakerinnen_liste/blob/master/app/views/admin/tags/categorization.html.erb#L38 --> update action should be valid for the assignment of the languages and the categories at the same time

[2017-08-29 04:26] zaziemo opened #634 "prepare presentation for demo day"
Beim Demo Day werden alle Projekte ihre Arbeit in einem kurzen Pitch vorstellen. Insgesamt habt ihr 5 Minuten Zeit. Ihr könnt eine Präsentation mit Slides zeigen oder auch eine Live-Demo. Falls ihr in einem Team arbeitet könnt ihr frei entscheiden, wie ihr euch einteilen wollt. Überlegt euch, wie die Zuschauer*innen am meisten von und über euer Projekt lernen können.

Unser Vorschlag für das Forma

[2017-08-29 04:50] #570 closed

[2017-08-29 04:54] zaziemo commented on #494
admin area: https://github.com/rubymonsters/speakerinnen_liste/issues/624

[2017-08-29 12:30] zaziemo commented on #630
yes, we need it.
tags that haven't assigned a language yet should be displayed (in the meanwhile) in both contexts

[2017-08-30 17:23] #634 closed

[2017-08-31 09:34] zaziemo opened #636 "add specs for models/tag_language_spec.rb"

[2017-08-31 09:35] zaziemo opened #637 "add specs for profile view"
does language assignment work?

[2017-08-31 09:35] zaziemo opened #638 "profile index: show only tags that have assigned the language of the current locale and without languages"

[2017-08-31 09:36] zaziemo opened #639 "refactor tag_languages"
still todo:
- [ ] make tag_filter_spec.rb:71 passing
- [x] undo migration that dropped tag_languages
- [ ] create fake languages
- [ ] write rake task to migrate data from tag_languages to locale_languages
- [ ] push to staging
- [ ] push to production

[2017-09-12 08:51] zaziemo opened #641 "elasticsearch index: expand update_or_remove method"
Currently the elasticsearch index is only updated if a profile is updated.
What is missing: if a tag is updated (as we do sometimes as an admin) the index is not updated and the profile is not found with the changed tag even though the profile is connected with this tag.

[2017-09-12 09:44] zaziemo commented on #641
https://github.com/elastic/elasticsearch-rails/issues/306

[2017-09-12 12:19] zaziemo commented on #630
done

[2017-09-12 12:19] #630 closed

[2017-09-18 12:33] zaziemo commented on #626
done - the last few can't be assigned because we don't know what they mean :) and some of them are neither german nor english

[2017-09-18 12:41] #626 closed

[2017-09-18 12:49] zaziemo opened #642 "translate tag field"
- [ ] create fields topics_de & topics_en in profile formfields --> should still "feed" topics - what happens if one topic is used twice?
- [ ] adapt api (skipped until #594)
- [ ] adapt tests
- [ ] push to staging
- [ ] push to production

[2017-09-18 12:53] zaziemo opened #643 "idea: add suggested_language to tag_languages"
if a chosen tag in profile edit has not yet a tag_language assigned, the tag should get a suggested language depending on the field the user was entering the tag tags_de = 'de', tags_en = 'en' --> this can help the administrator to assign the languages and bridge the time gap between adding the tag in the profile and the manual assignment

[2017-09-18 19:47] #613 closed

[2017-09-18 19:48] zaziemo opened #644 "Actual database schema"
![db_overview_170918 001](https://user-images.githubusercontent.com/2119496/30583466-6f72ba42-9d27-11e7-8689-cbbddfd9b3ee.jpeg)

[2017-09-19 07:51] zaziemo opened #645 "clean up iso_language.rb"
there are unused methods (they were only used for importing and normalising data). Lines 10-16 could be outsourced in a helper.

[2017-09-19 12:47] #494 closed

[2017-10-16 19:15] zaziemo opened #647 "add feature spec for assigning locale_languages to tags as an admin"
/spec/features/adding_and_updating_tag_languages_spec.rb

[2017-12-04 19:02] zaziemo commented on #639
done \o/

[2017-12-04 19:02] #639 closed

[2017-12-04 19:04] zaziemo commented on #610
also remove tag_languages table

[2017-12-04 19:07] #628 closed

[2017-12-04 19:07] #627 closed

[2017-12-04 19:11] #471 closed

[2017-12-04 19:15] zaziemo opened #648 "elasticsearch: why is certain profile not showing up?"
Wenn ich nach 'Andrea' suche bekommen ich 17 Andreas aber keine 'Andrea  B Bossmann', die ist aber da.

Bei unserer Admin Suche gibt es sogar 31 Andreas.

[2017-12-04 20:40] zaziemo commented on #648
done!

[2017-12-04 20:40] #648 closed

[2017-12-19 16:41] zaziemo opened #650 "ToDos: adding new locale"
**Technical Stuff**
- translation of static content (.yml, different pages under /views/pages)
- translation of emails
- add locale for i18n and globalize
- make different fields indexed by elasticsearch
- homepage: randomly shown profiles filtered to locale
- expand profile edit to new language (new tab)
- expand profile show to new language (scopes)
- make topic clouds filterable by new language

[2018-01-26 10:43] zaziemo opened #651 "deleting website in form as admin"
if I delete the website of that profile as an admin https://speakerinnen.org/de/profiles/janna-aljets it disapears in profile edit but is still visible in profile show.

please check

[2018-01-26 10:49] zaziemo opened #652 "admin area: counting published/unpublished profiles"
something is not correct, please check:

Laut der Zählung im Adminbereich gibt es im Moment 2013 Speakerinnen, davon 1870 öffentlich. Wenn ich aber die Profile nach veröffentlicht/veröffentlicht sortiere, finde ich nur 34 unveröffentlichte Profile. Wo sind die 143, die es eigentlich geben müsste? Stimmt da was mit der Zählung nicht?

[2018-01-29 20:08] zaziemo commented on #652
gecheckt: Zählung ist korrekt. In der Liste werden allerdings nur die unveröffentlichten Profile angezeigt, die den Confirmation-Link schon geklickt haben.

[2018-01-29 20:08] #652 closed

[2018-01-29 20:31] zaziemo commented on #651
has possibly to do with permissions to delete globalize translations: https://github.com/globalize/globalize/issues/635

[2018-02-09 09:52] tyranja commented on #645
- [ ] Remove the table `tag_language`?
- [ ] remove the model `TagLanguage`

[2018-02-09 09:54] tyranja commented on #610
- [ ] remove the model `TagLanguage`

[2018-02-09 15:28] tyranja commented on #636
https://github.com/rubymonsters/speakerinnen_liste/pull/654

[2018-02-09 15:47] tyranja commented on #637
https://github.com/rubymonsters/speakerinnen_liste/pull/654

[2018-02-09 19:54] #636 closed

[2018-02-09 19:54] #637 closed

[2018-02-09 20:04] #647 closed

[2018-02-09 20:10] tyranja commented on #644
old database scheme: https://github.com/rubymonsters/speakerinnen_liste/issues/613

[2018-02-12 10:44] zaziemo opened #658 "admin: redirect after tag editing"
if possible redirect to tag index page with previous filter settings after having edited one tag

[2018-02-12 18:42] zaziemo opened #659 "update readme with ubuntu installation information"

[2018-02-12 18:45] zaziemo opened #660 "admin profiles index: adapt counting"
/admin/profiles has a counting that says "2173 Speakerinnen. 1960 public." This gives the admins an orientation about still unpublished profiles that has to be done after manually checking which is at the moment 213. You can see those published and unpublished profiles by sorting the table below in the "visibility" column.

The overall sum (2173) includes profiles that are not yet confirmed by the

[2018-02-12 19:46] tyranja commented on #610
Looking at the database the column `city` and `website` are still populated.

- [ ] create a dump from the production database

- [ ] merge  the PR
- [ ] deploy on staging
- [ ] run the migration on staging
- [ ] check the staging website
do the same with production
- [ ]

[2018-02-12 20:12] 1000miles opened #661 "[DOC] Update README with getting started and requirement info"
At the moment the `README.md` links to the `CONTRIBUTING.md` which lists the instructions for setting up this project. The 'normal' handling is that `README.md` lists all info to setup the project while contributing info gives people insights how to handle PR, bugs, idea, etc. of this project.

Suggestions:
- List `technical requirements` in `README.md`
- Move `getting started` info to `README.md`

[2018-02-19 14:26] zaziemo opened #663 "Accessibility: reCaptcha"
Hey @speakerinnen, did you know that it's hard to register on your site for people with seeing disability (#reCAPTCHA is the problem)? How may my friend and potential speakerin get into alternative contact with you? Thanks for your support!

[2018-02-19 18:35] zaziemo opened #664 "adapt: seeds.rb"
profile.twitter doesn't exist anymore - also check website, city, languages

also add main topic

[2018-02-19 20:17] zaziemo opened #665 "Profile edit: tags"
topics are not updated and shown as seperate tags but in one block :(

<img width="833" alt="bildschirmfoto 2018-02-19 um 21 17 11" src="https://user-images.githubusercontent.com/2119496/36395613-4873ef4a-15ba-11e8-956b-bf876cceb1e1.png">

[2018-02-19 20:33] zaziemo commented on #665
https://blog.botreetechnologies.com/jquery-tag-it-integration-with-rails-1d3335907e86

[2018-02-19 20:47] #664 closed

[2018-02-22 08:57] zaziemo opened #667 "Search Form: typeahead does not work anymore"

[2018-02-22 09:43] #665 closed

[2018-02-22 11:38] #667 closed

[2018-02-23 09:14] tyranja opened #668 "Using docker for tests?"
here is a nice blogpost about how to use docker and guard. Since installing elasticsearch is time consuming, may running the tests with docker makes more sense.

@1000miles you already had some thoughts about it ...

 https://www.chrisblunt.com/ruby-on-rails-running-tests-with-guard-and-docker/?utm_source=rubyweekly&utm_medium=email

[2018-02-23 10:54] 1000miles commented on #668
Hi @tyranja @zaziemo,

yes, I am totally up for using docker but how about using docker not only for tests? If yes, I was thinking about also providing set up info for docker and vagrant setup in the `README.md`.

What do you think?

[2018-02-23 15:01] zaziemo opened #670 "add specs for typeahead method"
In the search field we make suggestions to the user while she types in search phrases.
<img width="909" alt="bildschirmfoto 2018-02-23 um 15 55 59" src="https://user-images.githubusercontent.com/2119496/36600255-153da06c-18b2-11e8-8449-3e5373fd3467.png">

Last week we detected a bug, that the suggestions don't work anymore. I wrote a fast fix for this but didn't do it test-driven. Now it would be

[2018-02-23 15:27] 1000miles opened #671 "Setup vagrant and document it"
As @tyranja, @zaziemo and I already talked about it in person we would love to setup the speakerinnen.org project with vagrant and document it in `README.md`.

- [x] Initialize vagrant and install ubuntu box (vagrant/xenial64 == v16.04)
- [x] Install essential and additional packages
  - [x] git curl vim
  - [x] python-software-properties build-essential
  - [x] imagemagick libmagick++-dev libxml2

[2018-02-26 16:46] Arvisix commented on #670
Will be happy to help with this issue

[2018-02-26 18:11] #659 closed

[2018-02-26 18:12] tyranja commented on #610
Thank you @zaziemo!

[2018-02-26 18:12] #610 closed

[2018-02-26 18:14] #387 closed

[2018-02-26 19:34] zaziemo commented on #670
@Arvisix cool, thank you :) Here are some hints to setup the project: https://github.com/rubymonsters/speakerinnen_liste/blob/master/CONTRIBUTING.md
If you have any questions feel free to ask.

[2018-03-01 19:50] 1000miles commented on #671
# Update, 2018-03-01

Currently facing some major issues while setting up vagrant:

1. vagrant box
2. rvm install ruby (permission issue)
3. tba

For documentation I leave the possible solutions I found here.

---

## Vagrant

### Context

- fetching a vagrant box via `Vagrantfile` returns

 `The requested URL returned error: 404 Not Found` (Example: https://gist.github.com/tedivm/7aa5b23d367bdc89

[2018-03-01 20:57] 1000miles opened #674 "[FE] UI Framework Refactoring inuitcss –> Bootstrap"
# Context

At the moment [inuitcss](https://github.com/inuitcss/inuitcss) is being used as the frontend framework. While this tool seems to be a great tool for an out-of-the-box solution it has some disadvantages.

- it requires a lot of documentation to understand what all the declared variables, elements, modules, etc. do which is not easy to find when needed
- it makes the css framework less ac

[2018-03-05 19:19] zaziemo commented on #470
Fetching: did_you_mean-1.2.0.gem (100%)
ERROR:  Error installing did_you_mean:
	There are no versions of did_you_mean (= 1.2.0) compatible with your Ruby & RubyGems
	did_you_mean requires Ruby version >= 2.5.0dev. The current ruby version is 2.3.0.

[2018-03-05 19:52] zaziemo commented on #470
if all gems are updated try

```rake acts_as_taggable_on_engine:install:migrations````
```rake db:migrate```

[2018-03-05 20:04] zaziemo commented on #470
- [ ] https://github.com/thoughtbot/factory_bot_rails

[2018-03-05 20:10] zaziemo commented on #470
https://medium.com/@vonchristian/upgrading-a-rails-4-2-6-app-to-rails-5-0-0-deef42f8d741

[2018-03-06 17:25] zaziemo commented on #663
I talked with the friend:

- apparently the click event does not work - error message:  "Recaptcha kann nicht erreicht werden, überprüfen sie die Verbindung"
- she uses the screenreader Jaws
- she had problems with recaptcha on several sites recently
- suggestion what works good for her: calculation

We have to have a look at that again. For troubleshooting I registered her with her email address.

[2018-03-06 17:28] zaziemo commented on #663
https://groups.google.com/forum/#!forum/recaptcha

[2018-03-12 18:44] tyranja commented on #674
Sounds great! :heart: Thank you!

[2018-03-12 19:42] tyranja commented on #470
assigns and assert_template, have been deprecated:

https://everydayrails.com/2016/08/29/replace-rspec-controller-tests.html

[2018-03-19 19:46] 1000miles commented on #661
Addressed and done in PR #669. Closing.

[2018-03-19 19:46] #661 closed

[2018-03-19 20:52] 1000miles opened #677 "[Security] Add a security info page"
# Context

When users create a profile on speakerinnen.org they can provide their full name, email address, additional info and links to their other channels, contact options, etc. to present themselves on the internet.

While this is a great way to increase your online reputation and reach out to potential requesters it also makes you vulnerable to harassment and abuse.

Even though we understand

[2018-03-19 21:01] 1000miles commented on #671
# Update, 2018-03-19

Vagrant turns out to behave a bit strange when installing java and a few other packages related to Elasticsearch. We discussed it here and decided to go for Docker now since it has some advantages towards Vagrant (e.g. eating up less hard disk space, etc.).

Examples:

[code]

[code]

There is also another ticket that indicates docker usage is preferred: https://github.com/ru

[2018-03-19 21:01] #671 closed

[2018-03-26 17:24] tyranja commented on #677
I like that a lot!!!

[2018-04-16 18:03] n3k00n3 commented on #677
- who to contact when affected
Can you explain it more? I think that can vary from country to country.

[2018-04-23 16:01] zaziemo opened #679 "add Sorbisch as language"

[2018-04-27 12:38] tyranja commented on #470
deployed to staging and tested:

- [x] search works
- [x] login works
- [x] edit profile and medialinks in both en and de works
- [] create account via twitter
- [] create a new account

[2018-04-30 18:35] #614 closed

[2018-04-30 18:59] sabrina-ulbrich commented on #470
create account via twitter gives the foolwing answer:
![screen shot 2018-04-30 at 20 56 22](https://user-images.githubusercontent.com/372649/39444851-5b744b18-4cb9-11e8-9da2-4901f47f4a0a.png)

[2018-05-01 13:48] sabrina-ulbrich commented on #470
@zaziemo I guess I fixed it, but I don' t want to push some code (not sure if I break something). It's just one line: in models/profile.rb line 57: instead of
`new(session['devise.user_attributes'],` without_protection: true) do |profile|`
write
`new(session['devise.user_attributes']) do |profile|`
After that I get the message "A message with a confirmation link has been sent to your email address

[2018-05-07 14:50] zaziemo commented on #470
@sabrina-ulbrich you should push that code :) We have tests to check whether anything breaks! Are you coming tonight?

[2018-05-07 15:12] sabrina-ulbrich commented on #470
@zaziemo I'll come and we can look at it together. I tried to push with 'git push origin zaziemo-upgrade-to-rails-5' but I got the answer 'Everything up-to-date' and nothing changed.

[2018-05-07 20:01] 1000miles opened #680 "Setup speakerinnen with docker"
This is a follow up and replacement ticket for https://github.com/rubymonsters/speakerinnen_liste/issues/671.

# Scope

- [x] Initialize docker
- [x] Install essential and additional packages
  - [x] git curl vim wget
  - [x] python-software-properties build-essential
  - [x] ruby ruby-dev
  - [x] nodejs & npm
  - [x] Postgres
  - [x] bundler
  - [ ] imagemagick libmagick++-dev libxml2-dev
  - [ ]

[2018-05-07 20:02] 1000miles commented on #680
Referencing #668

[2018-05-10 16:09] sabrina-ulbrich opened #682 "no result for a listed tag"
Clicking on the tag new work + arbeiten 4.0 gives no results:

![screen shot 2018-05-10 at 18 03 43](https://user-images.githubusercontent.com/372649/39880180-41250308-547d-11e8-9533-3a6479205304.png)

[2018-05-11 08:17] zaziemo commented on #682
🤨 that's true. I have the impression that is a problem with the escaping of + and . in the URL parameters. Same with this tweet: https://twitter.com/timpritlove/status/992347926230859776

[2018-05-13 13:47] zaziemo opened #683 "new terms of privacy matching GDPR"
here is a generator for english and german: https://dsgvo-muster-datenschutzerklaerung.dg-datenschutz.de/

[2018-05-14 18:17] #682 closed

[2018-05-14 18:18] zaziemo commented on #470
\o/

[2018-05-14 18:18] #470 closed

[2018-05-14 18:46] zaziemo opened #685 "update app to Rails 5.2"

[2018-05-14 21:47] sabrina-ulbrich commented on #645
done

[2018-05-14 21:47] #645 closed

[2018-05-14 22:01] sabrina-ulbrich commented on #485
done together with update to Rails 5

[2018-05-14 22:01] #485 closed

[2018-05-14 22:05] sabrina-ulbrich commented on #679
done

[2018-05-14 22:05] #679 closed

[2018-05-15 06:57] zaziemo opened #687 "GDPR: Update Piwik / Matomoto"
Hey @tyranja, could you update Piwik now Matomoto. I think it is best to have the newest version before GDPR will be effective by May 25th.

[2018-05-15 06:58] zaziemo opened #688 "GDPR: cookie consent alert"
- [x] german
- [x] english

[2018-05-15 06:59] zaziemo opened #689 "GDPR: Data-Processing- Agreements"
- [x] Hoster
- [x] Matomoto
- [x] Amazon Webservices

for US-based companies only possible if certified by Privacy
Shield Convention or if they have Binding Corporate Rules

[2018-05-15 15:32] zaziemo opened #690 "AWS migration"
- [x] create own AWS account (hosted in Europe)
- [x] move existing Data to new account

[2018-05-16 22:06] Vikingnut commented on #660
Hi @zaziemo , I am a ruby on rails beginner and would like to take a stab at this. Do I have permission to do so?

[2018-05-18 09:37] zaziemo commented on #660
Hey @Vikingnut cool :) and yes, you could do so. You can find all the setup information in the README.

[2018-05-18 18:30] Vikingnut commented on #660
Thank you! I will get started at some point today

[2018-05-19 10:36] #683 closed

[2018-05-24 15:02] #688 closed

[2018-05-24 16:44] zaziemo commented on #687
ich habe jetzt den Piwik mal rausgenommen. Die Cookies machten Probleme.

[2018-05-24 16:55] zaziemo opened #693 "Heroku: Upgrade to the latest stack"
We got this warning:

Warning: You are running on a deprecated stack.
remote:  !   Please upgrade to the latest stack by following the instructions on:
remote:  !   https://devcenter.heroku.com/articles/upgrading-to-the-latest-stack

[2018-05-26 09:56] netagonen commented on #670
@Arvisix : are you working on this issue at the moment?

[2018-05-28 18:29] tyranja commented on #693
Started with staging: https://devcenter.heroku.com/articles/upgrading-to-the-latest-stack#upgrading-an-app

[2018-05-29 10:45] tyranja commented on #693
Done and deployed to staging and production.

[2018-05-29 10:45] #693 closed

[2018-05-29 12:09] tyranja commented on #685
http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html

[2018-05-29 12:12] tyranja commented on #685
We can use active storage once we upgraded: http://edgeguides.rubyonrails.org/5_2_release_notes.html#active-storage instead of the gem carrierwave https://github.com/carrierwaveuploader/carrierwave

[2018-05-30 11:39] zaziemo opened #699 "forced https"
Message via twitter:

Hallo @speakerinnen! Eure Seite macht noch kein forced https, alles, was mit http verlinkt ist, wird noch mit http aufgerufen. Auch die Registrierung. Pls fix!

@tyranja could you have a look at this?

[2018-05-30 11:48] ur5 commented on #699
I think `config.force_ssl` in the production environment could do the job for you. See: https://stackoverflow.com/questions/15676596/what-does-force-ssl-do-in-rails

[2018-05-31 08:03] zaziemo commented on #699
another hint from Robert via email:
add the following in .htaccess
#redirect all to https
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

[code]

[2018-05-31 11:02] tyranja commented on #699
Also wanted to link `www.speakerinnen.org` to `speakerinnen.org` .so we have only one valid domain.

[2018-05-31 13:18] tyranja commented on #660
Thank you @Vikingnut for the effort! Will close this now.

[2018-05-31 13:18] #660 closed

[2018-06-01 15:29] tyranja commented on #699
Done and deployed. Thanks @ur5 !!!

[2018-06-01 15:29] #699 closed

[2018-06-01 15:46] tyranja opened #701 "link www.speakerinnen.org to speakerinnen.org"
who owns our DNS entry?

We need to change the settings in DNSimple: https://support.dnsimple.com/articles/redirect/

[2018-06-01 16:48] tyranja commented on #690
Hey @zaziemo I am afraid we have to do that together. I am not sure what to write into the form :(

[2018-06-01 21:17] sabrina-ulbrich commented on #701
I guess Konstantin did this. You can check that in the travis dns simple account.

[2018-06-03 17:50] tyranja opened #703 "Use rails new feature Active Storage"
With the update to rails 5.2 we could use the build in feature Active Storage.

https://blog.heroku.com/rails-active-storage
http://edgeguides.rubyonrails.org/active_storage_overview.html

https://evilmartians.com/chronicles/rails-5-2-active-storage-and-beyond

https://www.engineyard.com/blog/active-storage

[2018-06-03 19:19] tyranja commented on #685
Erro when testing in  production:

[code]

[2018-06-03 19:50] tyranja commented on #685
The solution was that `Marketing&PR` category had no english translation and therefore in the english version no `name` attribute. Changed it on staging and master.

[2018-06-04 12:07] tyranja commented on #680
I just found that talk: RailsConf 2018: Containerizing Rails: Techniques, Pitfalls, & Best Practices by Daniel Azuma: https://www.youtube.com/watch?v=kG2vxYn547E

Maybe that can be helpful.

[2018-06-04 17:36] #460 closed

[2018-06-06 13:24] tyranja opened #708 "Get rid of recaptcha?"

[2018-06-08 05:26] drashti4 opened #709 "Add correct prompt text in password field."
User might get confuse by just "At least 8 character" of what? It can be replace with "********" or "Enter 8 character password"
![spk 1](https://user-images.githubusercontent.com/9081004/41140348-8ee03040-6ab2-11e8-909f-936c7ccddd35.PNG)

[2018-06-08 12:35] tyranja commented on #709
That is a good idea! It is really confusing, I like the second suggestion the best.

[2018-06-08 12:54] #708 closed

[2018-06-08 13:07] drashti4 commented on #709
Great. I'm modifying. Can you please assign this issue to me?

[2018-06-08 13:38] tyranja opened #713 "limit use of tags"
Some user use more than 20 tags and that is simple to much. We should limit the use of tags to 10.

What do you think?

[2018-06-08 14:08] tyranja opened #714 "Improve cookie text"
We need to make clear that without using cookies, the user cannot sign in or sign up.

Right now the text is:
[code]

[code]

[2018-06-08 14:34] tyranja commented on #709
It is online :smile: :tada:

But now we have to make the text field a bit wider especially in German. German language! :roll_eyes:

![password](https://user-images.githubusercontent.com/1218914/41163335-b22a78cc-6b38-11e8-8bc6-067af62ec81b.png)

![password_de](https://user-images.githubusercontent.com/1218914/41163699-abb732e0-6b39-11e8-8263-2410d9db6163.png)

[2018-06-08 14:36] drashti4 commented on #709
Yeah I had fear of that but couln't find any right prompt to fix it. What do you think? Should we change hint or make textfield larger?

[2018-06-08 14:37] tyranja commented on #663
we have remove recaptcha so I am closing this issue.

[2018-06-08 14:37] #663 closed

[2018-06-11 17:34] 1000miles commented on #208
Bootstrap v4.x offers a nice component called `Image Carousel`: https://getbootstrap.com/docs/4.0/components/carousel/

This ticket depends on ticket #674 . We need to refactor the front-end framework first.

cc @tyranja

[2018-06-11 18:12] tyranja commented on #709
Sorry, did not see your answer. We should make the text field larger. :)

[2018-06-11 18:37] tyranja commented on #713
- [ ]  change text in form
- [ ]  database query who many user use more than 10 tags
- [ ] inform users?
- [ ] keep the first 10 tags and delete the rest  :)
- [ ] constrains just 10 tags

[2018-06-12 13:30] tyranja commented on #709
I fixed the width of the field so the user can see the whole place holder text:
https://github.com/rubymonsters/speakerinnen_liste/commit/2108647bfcb53e7131b4076a0c5612d45dcd687b

![fixed](https://user-images.githubusercontent.com/1218914/41293424-85b8af28-6e55-11e8-904d-3f7855b2ae47.png)
![fixed_2](https://user-images.githubusercontent.com/1218914/41293427-85f6ec2a-6e55-11e8-8b4b-00f6a9c67d65.png

[2018-06-12 13:31] tyranja commented on #709
Thanks a lot for your work!!

I gonna close the ticket now.

[2018-06-12 13:31] #709 closed

[2018-06-12 13:39] tyranja commented on #651
@zaziemo I tried to reproduce but it seems to be working ...

[2018-06-12 19:41] zaziemo commented on #651
@tyranja 👍

[2018-06-12 19:41] #651 closed

[2018-06-13 10:05] tyranja commented on #619
Done

[2018-06-13 10:05] #619 closed

[2018-06-13 10:06] tyranja commented on #601
@zaziemo  Hm, what do you mean by that?

[2018-06-14 07:32] zaziemo commented on #601
@tyranja good question. I think we once thought to optimize the naming of the labels. Now I think we can close that issue and see if our UX analysis provides any ideas on that topic.

[2018-06-14 07:32] #601 closed

[2018-06-14 09:28] tyranja opened #718 "Add an error page"
If we get an 404 routing error, it would be nice to have an error page

sth like that: https://stackoverflow.com/questions/25841377/rescue-from-actioncontrollerroutingerror-in-rails-4

[2018-06-16 13:00] tyranja opened #720 "Twitter login does not work anymore"
Probably related to this: https://stackoverflow.com/questions/50826742/omniauth-twitter-with-rails-5-stopped-working-oauthunauthorized-403-forbidden

[2018-06-18 11:04] tyranja commented on #720
I have added the callback:

`https://speakerinnen.org/profiles/auth/twitter/callback`

and now it works again

[2018-06-18 11:10] #720 closed

[2018-06-18 13:58] tyranja commented on #718
Done

[2018-06-18 13:58] #718 closed

[2018-06-18 17:41] #511 closed

[2018-06-18 17:51] tyranja commented on #238
https://github.com/globalize/globalize#adding-additional-fields-to-the-translation-table

https://github.com/rubymonsters/speakerinnen_liste/issues/644

[2018-06-18 17:58] tyranja commented on #644
@zaziemo update database please

[2018-06-18 18:05] tyranja opened #721 "Correct URL after chancing the language in topic content"
When you select a tag:
`https://speakerinnen.org/en/topics?topic=content+marketing`

and then change the language scope you are back to:
`https://speakerinnen.org/de/topics`

It would be nice to be still in the same scope.

[2018-06-18 18:15] tyranja opened #722 "Correct URL after searching for a profile"
When you look for sth via our search and get the results:

`https://speakerinnen.org/de/profiles?utf8=%E2%9C%93&utf8=%E2%9C%93&search=ruby&button=`

and change the language you end up at that page:

`https://speakerinnen.org/en/topics`

It would be nice to have the search still in the language.

[2018-06-18 19:53] zaziemo opened #724 "find more n+1 queries"
use bullet logs and also try to replace .where with .select

[2018-06-19 13:08] tyranja commented on #644
We don't have twitter, city, website in the Profiles tables any more.

What about talks or media_url?

[2018-06-19 13:23] tyranja opened #725 "Delete usused code"
We obviously don't user `media_url` and  `talks` any more so we should delete that from the Dtabase table and code.

See: https://github.com/rubymonsters/speakerinnen_liste/issues/644#issuecomment-398392508

[2018-06-19 14:55] tyranja commented on #618
https://speakerinnen.org/de/profiles/sarah-pillhofer

![vorher](https://user-images.githubusercontent.com/1218914/41605393-9ef5bef4-73e1-11e8-9162-a275d0015fc5.png)

[2018-06-20 12:19] zaziemo commented on #725
Hum, I would say we don't need it anymore. But there are 29 profiles where :talks is not nil.
```Profile.where.not(talks: nil).count```
I can't see right now where this comes from.
```Profile.where.not(media_url: nil).count``` results in 28.
Probably you could inspect that more before deleting ;)

[2018-06-20 12:30] tyranja commented on #725
I think those are old once, because we used it in the beginning. All those profiles have low id's so there were created at the beginning.

[2018-06-20 12:35] tyranja commented on #674
https://getbootstrap.com/docs/4.1/layout/overview/
https://fontawesome.com/icons?d=gallery&s=solid
https://github.com/twbs/bootstrap-rubygem

[2018-06-21 22:24] agustinariq commented on #575
Hello! Can I work on this issue?

[2018-06-22 06:38] zaziemo opened #727 "HTML formatting in Medialinks description …"
… seems not to work anymore. See screenshot. Browser: Chrome
<img width="702" alt="bildschirmfoto 2018-06-22 um 08 37 16" src="https://user-images.githubusercontent.com/2119496/41761461-a3488172-75f7-11e8-881f-a0113433b58d.png">

[2018-06-22 06:40] zaziemo commented on #575
@agustinariq yes sure! That would be great :)

[2018-06-25 17:32] tyranja commented on #727
It is strange because it is working on my machine in chrome and firefox:

https://speakerinnen.org/de/profiles/ranja-muller:

![medialink](https://user-images.githubusercontent.com/1218914/41865808-7a27da04-78ae-11e8-9d33-1bb3c7b5d26c.png)

@zaziemo Can you paste the URL in here?

[2018-06-25 17:36] tyranja commented on #618
![medialink_neu](https://user-images.githubusercontent.com/1218914/41865964-068dc058-78af-11e8-880d-d400816f0ed8.png)

It is working \o/ and deployed!

Closing this now.

[2018-06-25 17:36] #618 closed

[2018-06-25 17:53] tyranja commented on #644
And `languages` seems to be `iso_languages` nowadays.

[2018-06-27 11:07] tyranja commented on #725
Also once we are finished with that, I have found some more columns to delete :grin:

See https://github.com/rubymonsters/speakerinnen_liste/issues/644#issuecomment-400039144

[2018-06-27 12:41] tyranja commented on #621
we will close this for now.

[2018-06-27 12:41] #621 closed

[2018-07-09 17:58] zaziemo commented on #714
Hey @mandeepsidhu2,
Thanks for your suggestion!
You can find the text here: https://github.com/rubymonsters/speakerinnen_liste/blob/master/config/locales/en.yml#L77

We'd need some more important information (sorry for not specifying the issue more). Could you probably change the first sentence in: "To provide the full functionality of this site (e.g. login and registration) we have to store infor

[2018-07-09 18:12] zaziemo commented on #644
Yes, that is true. I think we wanted to keep those fields a little while because we did many migrations and were not sure whether everything works out properly. But now 1 year has passed and nobody complained ;) Can be deleted!

[2018-07-13 13:40] tyranja commented on #724
a good article about performance: https://www.netguru.co/codestories/activerecord-tips-2

[2018-07-16 18:46] zaziemo opened #730 "Improve loading speed of profile images"
Currently it takes a long time to load the start page www.speakerinnen.org (7.3 sec).

A big problem is the speed of image loading, especially the profile images:
<img width="968" alt="bildschirmfoto 2018-07-16 um 19 57 59" src="https://user-images.githubusercontent.com/2119496/42777024-21be0424-8939-11e8-96d9-b900f1b236e5.png">

Please inspect what causes the long loading times. Size of the image

[2018-07-17 06:32] zaziemo opened #731 "Contact form: Prevent reload of page when cookie consent is given while writing a message"
Currently every page reloads after giving cookie consent.
We got a complaint that this also happens while writing a message via the contact form. User clicks on cookie consent "OK", page reloads and the whole message is gone.

Make sure either this site does not reload or the content of the message is temporarily captured.

[2018-07-17 07:41] tyranja commented on #731
Maybe we could also make sure the contact window is only shown when the cookie consent is already given. And when it is not given we show a message "Please allow cookies" or sth like that.

[2018-07-18 13:49] tyranja commented on #674
http://shouldiuseacarousel.com/

[2018-07-18 14:11] tyranja commented on #674
Styleguide:

for headlines:    `<h1 class="display-4">FAQ/How-to</h1>`
for smaller headlines:     `<h4 class="pt-4">Why is there no speaker for the topic I am looking for?</h4>`

[2018-07-23 19:53] netagonen opened #734 "Refactor admin/tags_controller"
- [x] Simplify the update method
- [ ] move the session filter params from each redirect to the index method if possible
- [x] see issue [631](https://github.com/rubymonsters/speakerinnen_liste/issues/631)
- [x]  use .includes() after .all queries

[2018-07-23 20:05] sabrina-ulbrich commented on #725
I'm done with deleting talks and media_url: pull request #733

[2018-07-23 20:05] #725 closed

[2018-07-23 20:58] sabrina-ulbrich commented on #644
city, twitter, website, main_topic, bio and languages are no longer in the profile table, look at pull request #733

[2018-07-27 07:44] tyranja opened #735 "Add spam controll for the contact form"
Our users get lately spam via the contact form. To prevent that we could add sth like that: https://github.com/markets/invisible_captcha

[2018-08-02 08:01] zaziemo opened #737 "Cookie Parameter in Link?"
Currently the link to the site - after having agreed to the use of cookies - looks like that: https://speakerinnen.org/de?allow_cookies=true

Which is odd if people want to share the link by copying from the browser.

Check if it is possible to delete.

[2018-08-02 09:54] tyranja commented on #735
That seems to work. Close this here.

[2018-08-02 09:54] #735 closed

[2018-08-02 20:12] zaziemo commented on #208
what about these ones?
https://www.flickr.com/photos/wocintechchat/25900705292/
https://www.flickr.com/photos/re-publica/41885135041/in/album-72157668583960298/
https://www.flickr.com/photos/re-publica/28016206628/in/album-72157668583960298/
https://www.flickr.com/photos/re-publica/41169371504/in/album-72157668583960298/
https://www.flickr.com/photos/re-publica/40973647375/in/album-721576963908637

[2018-08-03 10:54] tyranja commented on #238
That is deployed and should be working, Thanks a lot for the work @sabrina-ulbrich :bouquet: :tada:

[2018-08-03 10:54] #238 closed

[2018-08-03 10:55] tyranja commented on #685
That is done.

[2018-08-03 10:55] #685 closed

[2018-08-06 20:41] sabrina-ulbrich commented on #690
If data from carrierwave is involved, we maybe can do the migration of the data together with a change to active storage (because we don't need another rake task to migrate pictures from carrierwave to active storage). @zaziemo @tyranja

[2018-08-08 11:29] tyranja commented on #644
Maybe we can use this to create an actual db schema: https://github.com/voormedia/rails-erd

[2018-08-09 12:59] zaziemo commented on #566
🌪☄️ cool!

[2018-08-09 13:02] tyranja commented on #644
![erd](https://user-images.githubusercontent.com/1218914/43900439-368fa600-9be5-11e8-8f9c-d209784de1ef.jpg)

[2018-08-10 12:32] tyranja opened #740 "Convert png images into jpg"
We still have a lot of png images which would be much faster when they would be jpeg's

https://github.com/rubymonsters/speakerinnen_liste/tree/master/app/assets/images

We just have to take care for the images who need transparency.

[2018-08-10 12:37] tyranja commented on #674
related issues:

 https://github.com/rubymonsters/speakerinnen_liste/issues/374
https://github.com/rubymonsters/speakerinnen_liste/issues/340

[2018-08-20 17:26] netagonen commented on #734
Second point won"t be fixed: params need  to be already at the redirect

[2018-08-20 17:49] #575 closed

[2018-08-20 18:26] zaziemo opened #741 "debug Hashie::Mash warning"
this comes up after searching:

```You are setting a key that conflicts with a built-in method Hashie::Mash#length defined in Hash. This can cause unexpected behavior when accessing the key as a property. You can still access the key via the #[] method.```

[2018-09-02 19:40] tyranja opened #742 "Admin dashboard - Add comment field to admin profile show in the"
It would be handy to have the admin comment field in the show view of the single profile:

![comment](https://user-images.githubusercontent.com/1218914/44960064-cda40100-aef8-11e8-83fe-afea89ccffd1.png)

[2018-09-02 19:43] tyranja opened #743 "Add a 'featured' object"
It would be nice to show **featured profiles (** interesting or rare profiles ) on the start page.

For that we would need a new object with the properties:

**- title ( text )**
**- description ( text )**
**- profiles ( array of profile id's )**

_For example: There is a gaming conference in berlin and we want to have more women represented there.
We could add 4 woman to the feature object with t

[2018-09-04 14:11] tyranja commented on #742
https://github.com/rubymonsters/speakerinnen_liste/pull/745

[2018-09-05 13:05] #740 closed

[2018-09-05 13:10] tyranja commented on #658
@netagonen @zaziemo is this fixed with that PR? https://github.com/rubymonsters/speakerinnen_liste/pull/732

[2018-09-05 13:12] tyranja commented on #734
@netagonen can we close this?

[2018-09-06 07:47] netagonen commented on #658
Yes

[2018-09-06 07:50] netagonen commented on #734
Fixed in PR [#732](https://github.com/rubymonsters/speakerinnen_liste/pull/732)

[2018-09-06 07:50] #734 closed

[2018-09-06 13:10] tyranja opened #747 "Show if a profile has a pic in the admin profile index overview"
Add this to the table in the /view/admin/profile/index: `Profile.last.picture.present?`

[2018-09-07 10:26] tyranja opened #748 "Add a 'Kurzkritik'/'review' to the speakers profile"
In order to make speakerinnen more interactive we could add the possibility for signed in speakers to add a ( positive ) review to other speakers.

It should be more than a 'like' button because then it would be easy for people with a big network to get all theirs friends to like them.

So it should be a bit more sophisticated with fields like:
- when did I see/read/hear about that person
- where

[2018-09-10 17:52] sabrina-ulbrich commented on #727
@zaziemo I looked at the profile online and it seems to work:
![screen shot 2018-09-10 at 19 50 09](https://user-images.githubusercontent.com/372649/45314803-0cf2d300-b533-11e8-9fc6-a5e4ed5d09ae.png)

[2018-09-11 08:39] tyranja opened #749 "Improve the admin interface"
### Overview for admin improvements

_all tasks need to have an own issue and are linked here._

**profiles view**
- [x] (admin/profile/show) add comment to the profile view https://github.com/rubymonsters/speakerinnen_liste/issues/742
- [x] (admin/profile/index) show if a pic of the speaker is there https://github.com/rubymonsters/speakerinnen_liste/issues/747
- [x] add the profile.id to the tabl

[2018-09-11 08:47] tyranja commented on #210
Will close this for now. I have changed the way the picture is shown, when it is not loaded yet and we are working on getting  the AWS access to change the s3 server zone to Europe.

[2018-09-11 08:47] #210 closed

[2018-09-11 08:47] tyranja commented on #658
Thank you!

[2018-09-11 08:47] #658 closed

[2018-09-11 12:09] #523 closed

[2018-09-11 18:55] zaziemo commented on #748
Wow, what a great issue - not only the idea but also the proficiency of the doing @tyranja.  I'm impressed 😍

[2018-09-12 14:32] tyranja opened #750 "Update gem actsastaggable"
Change in Gemfile: https://github.com/mbleigh/acts-as-taggable-on/issues/874

`gem 'acts-as-taggable-on', '~> 6.0'`

[2018-09-17 10:56] #742 closed

[2018-09-17 10:56] tyranja commented on #742
Done

[2018-09-18 12:43] tyranja commented on #674
Done!

[2018-09-18 12:43] #674 closed

[2018-09-18 12:44] tyranja commented on #374
Looks like this is done with getting back to bootstrap

[2018-09-18 12:44] #374 closed

[2018-09-18 12:45] tyranja commented on #340
Done

[2018-09-18 12:45] #340 closed

[2018-09-18 12:45] tyranja commented on #223
Done

[2018-09-18 12:45] #223 closed

[2018-09-19 09:40] tyranja commented on #750
Done

[2018-09-19 09:40] #750 closed

[2018-09-19 09:41] tyranja commented on #737
Thank you @netagonen 11!!!

[2018-09-19 09:41] #737 closed

[2018-09-19 09:42] tyranja opened #754 "[fifty] Update to rails 5.2"

[2018-09-19 09:42] tyranja opened #755 "[fifty] update bootstrap"

[2018-09-21 09:33] tyranja commented on #754
Done

[2018-09-21 09:33] #754 closed

[2018-09-22 06:30] tyranja opened #757 "[fifty] set up a staging server for fifty percent"
get a server here:  https://accounts.hetzner.com/login and install ruby on it

[2018-09-27 13:51] tyranja opened #758 "[fifty] Set up travis test for fiftypercent"

[2018-09-27 14:17] tyranja opened #759 "[fifty] Remove inuit from blog"

[2018-10-01 09:36] tyranja commented on #755
Done

[2018-10-01 09:36] #755 closed

[2018-10-02 12:49] greysteil opened #761 "Suggestion / request: use Dependabot to keep dependencies up-to-date"
First of all, thanks for speakerinnen.org!

I've got a suggestion / request: would you be up for using [Dependabot](https://dependabot.com) to automatically create dependency update PRs for this repo? I ran it against my fork and it generated [these PRs](https://github.com/greysteil/speakerinnen_liste/pulls). I'll port the `nokogiri`, `sprockets` and `rubyzip` ones across to this repo now because

[2018-10-02 15:36] tyranja commented on #761
Thank you for the suggestion and the PR's. We will discuss it in the team but it seems to be reasonable to add this gem.

[2018-10-02 19:26] tyranja opened #765 "Blog: translate the speakerinnen blog"
Translate sidebar text

[2018-10-02 19:49] tyranja opened #766 "Contact button in admin does not work"

[2018-10-06 18:14] zaziemo commented on #714
Thanks for you help @mandeepsidhu2 !

[2018-10-06 18:14] #714 closed

[2018-10-06 18:15] zaziemo commented on #731
shouldn't be the case anymore since it is only possible to open the contact form when cookie consent is given.

[2018-10-06 18:15] #731 closed

[2018-10-07 13:17] tyranja commented on #766
Done

[2018-10-07 13:17] #766 closed

[2018-10-07 20:01] tyranja opened #769 "Add cookie hint window also to register and login view"
- [x] contact team
- [x] add infos to wiki
- [x] refactor

- [x]  add a module window to the _auth.erb page ?

- [x] register
- [x] login
- [x] twitter login
- [x] register via twitter
- [x] forgot password

- [ ] add tests ( push it to another ticket )

[2018-10-08 21:46] sabrina-ulbrich opened #772 "Admin scope: Creating Category"
I have just noticed that when creating a category, this is displayed twice (admin scope, locally).
![screen shot 2018-10-08 at 23 43 47](https://user-images.githubusercontent.com/372649/46635293-2b5ce600-cb54-11e8-843f-c39a8d396003.png)

[2018-10-09 07:27] sabrina-ulbrich commented on #772
no, just displayed twice

[2018-10-09 07:54] tyranja commented on #772
That is strange. Do you want to correct that?  Admin is "ausbauwürdig" :)

[2018-10-09 07:54] tyranja opened #773 "Add captcha to signup"

[2018-10-09 09:13] tyranja commented on #773
Done: https://github.com/rubymonsters/speakerinnen_liste/pull/771

[2018-10-09 09:13] #773 closed

[2018-10-09 13:05] tyranja commented on #566
Seems to work. Close this for now.

[2018-10-09 13:05] #566 closed

[2018-10-10 20:32] tyranja commented on #446
More than a year later:

![sort_event](https://user-images.githubusercontent.com/1218914/46764267-540fe780-ccdc-11e8-8b04-7bdf8ac48c08.png)

[2018-10-10 20:43] tyranja commented on #741
This still exist. I did a quick google search and it seams like this id fixed in the newer versions: https://github.com/elastic/elasticsearch-ruby/issues/398  but not in older once: https://github.com/elastic/elasticsearch-rails/commit/5732fa3   :(

[2018-10-11 10:15] tyranja commented on #446
Done!

[2018-10-11 10:15] #446 closed

[2018-10-12 14:00] tyranja commented on #769
https://github.com/rubymonsters/speakerinnen_liste/wiki/consent-cookie

[2018-10-20 15:17] tyranja commented on #758
Done

[2018-10-20 15:17] #758 closed

[2018-10-29 13:41] #769 closed

[2018-10-29 19:17] zaziemo commented on #741
ok, I think we should upgrade to the newer elasticsearch version in the next months. Will open a new issue and close this one.

[2018-10-29 19:17] #741 closed

[2018-10-29 19:18] zaziemo opened #781 "update elasticsearch version"
to get rid of Hashie Mash warning and keep up with new development

[2018-10-30 16:51] tyranja commented on #761
I installed it. Thank you for your suggestion!

[2018-10-30 19:13] greysteil commented on #761
Awesome! Looks like you've got it running on https://github.com/rubymonsters/fiftypercent but not enabled on this repo (although you've given Dependabot permission for this repo). Want me to set it up to send PRs to this repo too?

[2018-11-04 12:59] netagonen commented on #749
Open question: when tag is merged with an existing tag, old tag remains. Is this the wanted behavior?

[2018-11-04 15:29] zaziemo commented on #749
@netagonen no, the old tag should be deleted.

[2018-11-08 17:00] tyranja opened #784 "Filter topics"
2 way of filter topcis:

1. You are on the start page and click on the category that interests you and then find all the profile that have tags attached to that category.

To refine your search you can select some topics that belong to that category.
![filter_toipcs](https://user-images.githubusercontent.com/1218914/48214284-ee1c8b80-e37f-11e8-8d25-1e8b73342580.png)

or
2. On the start page you se

[2018-11-08 19:44] tyranja commented on #784
![filter_toipcs](https://user-images.githubusercontent.com/1218914/48223331-1d8ac280-e397-11e8-8836-6cf99022c5c2.png)

[2018-11-10 14:43] zaziemo opened #786 "Organize the UX suggestions"
Which suggestions do we want to realize and when?

[2018-11-10 14:45] zaziemo opened #787 "Assign OG parameters for blog"
On facebook and twitter the first picture of the blog article and the Headline and first paragraph should be displayed when posting a link.

[2018-11-11 17:23] netagonen opened #789 "Improve existing administration of tags"
(admin/tags/index) & (admin/tags/edit) make one form instead of separate actions for edit, language and category:
The index page should present a table with the tag information, including the tag related profile, creation date and sorting functionality.
When a tag is clicked it should open the edit page
The edit page is a form, where all tags attributes are edited (for now: name. languages, catego

[2018-11-12 11:57] tyranja opened #791 "[fifty] get the poduction data for local development"

[2018-11-13 19:39] zaziemo opened #792 "UX: new Sections of Site"
based on Salit's suggestions: PR, legal, general Service, Speakers, Organizers

Desisions -->
Q1: Should we adapt this idea?
Q2: If yes, what would be the nexts steps? What do we need?

[2018-11-13 19:41] zaziemo opened #793 "UX: Split-Screen"
based on Salit's suggestions: new startpage, separated for event organizers and speakers

Desisions -->
Q1: Should we adapt this idea?
Q2: If yes, what would be the nexts steps? What do we need?
<img width="874" alt="bildschirmfoto 2018-11-13 um 20 41 22" src="https://user-images.githubusercontent.com/2119496/48438556-85b91a00-e784-11e8-9779-c8f092c13fa0.png">

[2018-12-04 13:34] netagonen opened #815 "Improve filter area in Admin::Tags"

[2018-12-05 15:30] jancborchardt opened #819 "Got warning about Ruby version"
When installing Ruby for the project via `rvm install "ruby-2.3.1"` I got this warning:
[code]

Fiftypercent for example uses Ruby 2.4.2, so it might be good to upgrade and use the same? :slightly_smiling_face:

(cc @alicetragedy as we are working on setting up both projects locally.)

[2018-12-06 11:41] tyranja commented on #819
Sounds like a good idea. Thank you for reminding us! :two_hearts:

[2018-12-07 10:04] tyranja commented on #819
It is done: https://github.com/rubymonsters/speakerinnen_liste/blob/master/Gemfile#L4

Thanks again @jancborchardt and @alicetragedy! :bouquet:

[2018-12-07 10:04] #819 closed

[2018-12-09 12:31] tyranja opened #821 "Add exception tracker"
https://rubygems.org/gems/exception_notification

To get emails, when our website is throwing errors.

[2018-12-10 18:45] #786 closed

[2018-12-10 19:25] zaziemo commented on #781
- [ ] update gem elasticsearch_rails #806
- [ ] https://www.elastic.co/guide/en/elasticsearch/reference/5.0/setup-upgrade.html

[2018-12-10 19:54] zaziemo commented on #781
Some links:
https://logz.io/blog/upgrade-elasticsearch-5/

[2018-12-10 19:56] zaziemo commented on #781
Maybe this migration helper plugin can help as well: https://github.com/elastic/elasticsearch-migration/blob/master/README.asciidoc

[2018-12-14 13:40] jancborchardt opened #838 "Personal profile details: Links are localizable?"
In the lower part of the profile, the links are inside the translatable container. This is useful for people who have separate profiles, but seems to be an edge-case?

And now when your website or Twitter profile changes, you have to change it in both languges. Maybe it’s better to do it like in the "Media links", where you can define the language a link or talk is in? That way when you are German

[2018-12-14 23:41] jancborchardt commented on #793
@alicetragedy and I had a small design chat about this today and this seems to be a good way to go from our view. :slightly_smiling_face:

Some further thoughts:
- The randomized showing of some profiles directly on the front page is pretty cool, it should be directly below the split. It shows you "Be part of this cool group of people" for people with no profile yet and also "This wide array of sp

[2018-12-16 17:35] tyranja commented on #821
Done

[2018-12-16 17:35] #821 closed

[2018-12-17 20:31] zaziemo commented on #690
write ruby script to copy and paste from one bucket to another, research "copy bucket aws" perhaps there is a professional tool for it.

[2018-12-18 20:53] tyranja commented on #690
https://aws.amazon.com/de/premiumsupport/knowledge-center/copy-s3-objects-account/

right now I am trying to list the content of the bucket with our speakerinnen credential but it won't work. :woman_shrugging:

[2018-12-19 07:47] zaziemo commented on #838
@jancborchardt & @alicetragedy thanks for your input. I have one question to better understand what you want to achieve: Do you want that people that change their website or twitter account only have to change it in one place or is it confusing that the provided links only show up in one language environment (english links in english locale, german in german)?

[2018-12-19 07:50] zaziemo commented on #793
@jancborchardt thanks for your ideas and suggestions! I will forward it to the UX person who is currently working on the details :)

[2018-12-19 22:52] jancborchardt commented on #838
This for sure, yes.

This is also slightly confusing. Do you in practice actually have a lot of people who have _separate_ links for their Twitter profiles?

As mentioned, the solution in the personal profile where you list "media links" is a bit more obvious since you can just add stuff in a list and add in which language that is (default being English).

This is much better than the tabs, also b

[2018-12-30 15:16] #789 closed

[2019-01-03 20:06] netagonen commented on #815
issue is not needed by itself

[2019-01-03 20:06] #815 closed

[2019-01-13 10:03] zaziemo opened #858 "check sass warning"
Post-install message from sass:

Ruby Sass is deprecated and will be unmaintained as of 26 March 2019.

* If you use Sass as a command-line tool, we recommend using Dart Sass, the new
  primary implementation: https://sass-lang.com/install

* If you use Sass as a plug-in for a Ruby web framework, we recommend using the
  sassc gem: https://github.com/sass/sassc-ruby#readme

* For more details, ple

[2019-01-13 10:03] zaziemo opened #859 "check I18n warning"
HEADS UP! i18n 1.1 changed fallbacks to exclude default locale.
But that may break your application.

Please check your Rails app for 'config.i18n.fallbacks = true'.
If you're using I18n (>= 1.1.0) and Rails (< 5.2.2), this should be
'config.i18n.fallbacks = [I18n.default_locale]'.
If not, fallbacks will be broken in your app by I18n 1.1.x.

For more info see:
https://github.com/svenfuchs/i18n/rel

[2019-01-13 11:36] zaziemo commented on #743
\o/ deployed! Thanks @sabrina-ulbrich for your work!

[2019-01-13 11:36] #743 closed

[2019-01-14 18:55] tyranja commented on #633
Hinfällig :)

[2019-01-14 18:55] #633 closed

[2019-01-15 14:53] tyranja commented on #703
https://www.randygirard.com/migrating-from-carrierwave-to-activestorage-in-rails/

[2019-01-17 10:12] #859 closed

[2019-01-17 10:13] #858 closed

[2019-01-17 17:49] tyranja commented on #747
Done

[2019-01-17 17:49] #747 closed

[2019-01-17 20:41] tyranja commented on #590
Done!

[2019-01-17 20:41] #590 closed

[2019-01-19 12:36] sabrina-ulbrich commented on #724
another interesting article about faster active record queries: three slow queries are explained: where, count and present?
https://www.speedshop.co/2019/01/10/three-activerecord-mistakes.html

[2019-02-02 09:20] zaziemo opened #868 "Presseseite rausnehmen"
--> aber irgendwo speichern

[2019-02-02 11:54] #322 closed

[2019-02-02 11:58] zaziemo opened #869 "Optimize featured profiles"
toggle partials --> randomly shown profiles / featured profiles
add: "show all speakers" link at the bottom of featured profiles

[2019-02-02 14:12] zaziemo commented on #650
--> move to Wiki

[2019-02-02 14:14] #642 closed

[2019-02-02 14:15] #616 closed

[2019-02-02 19:09] zaziemo opened #870 "check and implement nextcloud"
for team communication: https://nextcloud.com/

[2019-02-02 20:23] sabrina-ulbrich opened #871 "Caption is cut of or overlayed"
Caption is limited to 30 characters, but if someone put all characters in one word the last 4 or 5 chars outreach the picture and are overllayed by the column next to it. Example: NachhaltigeUnternehmensführung

[2019-02-03 11:08] #668 closed

[2019-02-03 11:09] #288 closed

[2019-02-03 11:14] zaziemo commented on #50
--> move to wiki

[2019-02-03 11:26] #332 closed, assigned to nobody

[2019-02-03 11:33] zaziemo commented on #443
- [ ] get quotes (selected from comms team)
- [ ] find place and layout on website

[2019-02-03 11:38] zaziemo commented on #462
Currently closed until there is a team that wants to take care of it in Brazil.

[2019-02-03 11:38] #462 closed

[2019-02-03 11:38] zaziemo commented on #360
Currently closed until there is a team that wants to take care of it in France.

[2019-02-03 11:38] #360 closed

[2019-02-03 11:38] #482 closed

[2019-02-03 11:39] #496 closed

[2019-02-03 11:41] zaziemo commented on #524
Salits suggestions: https://www.figma.com/file/aPmSe86hz49J8n1daelWUBDp/Speakerinnen?node-id=0%3A1

[2019-02-03 16:37] #553 closed

[2019-02-03 16:39] #643 closed

[2019-02-03 16:40] #689 closed

[2019-02-03 16:50] netagonen opened #872 "Profile-Taggings verification"
Add to tag initializer: ```validates :taggings, :presence => true ```
Fix tests

[2019-02-03 17:00] netagonen commented on #749
@tyranja, @zaziemo
1. Is the category view issue not relevant anymore?
2. I am not sure how to improve the admin start page overview: what would be the user's needs in this case?
3. Last idea for improvement: to have one navigation bar to all the admin area. now it"s bit of a mass. BUT also could be that admin don't need this. What do you think?

[2019-02-04 21:45] netagonen commented on #872
I tried to add the validation line to the ActsAsTaggableOn initializer, but it broke the profile update functionality: when inserting a new tag to the topics field, it doesn't save the changes in the form, because it expects the tag to already exist. Maybe for crating a tagging it needs to already have a tag_id, but with a new tag the tag_id does not yet exist? any idea?

[2019-02-11 18:08] tyranja opened #873 "Redesign FAQ page"
We need to redesign our FAQ page to make it more clearly and easy to read: https://speakerinnen.org/de/faq

For example like that:
https://podcasterinnen.org/faq

[2019-02-11 18:10] tyranja opened #874 "Add a cache in the view for the tag cloud to load the page faster"

[2019-02-11 19:53] zaziemo commented on #701
I think this is already done? right?

[2019-02-11 19:55] zaziemo commented on #690
@tyranja do you need help with that issue or is it already done?

[2019-02-13 16:45] zaziemo opened #876 "check if certain sites can be scraped again by google"
context: if people change their name, the slug /firstname-name changes as well.

The link with the previous name does not work anymore and the user gets an error page.
Please check: Is it possible to tell google to crawl a certain site again (eg. if name changes)?

[2019-02-17 13:28] sabrina-ulbrich commented on #869
done

[2019-02-17 13:28] #869 closed

[2019-02-17 15:09] tyranja opened #878 "Remove gem new relic"

[2019-02-18 16:54] zaziemo opened #879 "Redesign 50percent"
Some thoughts:

1. Make it more visible that people have to contribute to the counting ( adding a new event )
2. Maybe tile layout?
3. More colors
4. Alternatives to the blue and red? https://blog.datawrapper.de/gendercolor/

![50percent_eintragen](https://user-images.githubusercontent.com/1218914/53305212-e88b7880-387e-11e9-8035-a8c4be181103.png)

[2019-02-18 18:19] zaziemo opened #880 "change z-index of flash messages"
Currently the profile cards are overlaying the flash message if you are redirected after signing in

<img width="1241" alt="bildschirmfoto 2019-02-18 um 19 15 39" src="https://user-images.githubusercontent.com/2119496/52969810-0013be80-33b2-11e9-8c44-bf5611fa4604.png">

[2019-02-18 18:46] tyranja opened #881 "A new error page"
At the moment it looks like that:
![error_page](https://user-images.githubusercontent.com/1218914/52970884-b75e0480-33b5-11e9-8892-78c241d564b3.png)

There is room for improvement I think :laughing:

[2019-02-18 19:45] sabrina-ulbrich commented on #690
It seems to be a description how to migrate the data from carrierwave to active storage:
https://www.stefanwienert.de/blog/2018/11/05/activestorage-migrating-from-carrierwave-attachment-pointers/

[2019-02-18 20:45] sabrina-ulbrich commented on #772
It's shown twice because its sorted german and english, so I remove the sorting - I think it's not necessary as long as there are only 10 or 15, but more confusing shown twice. Done with #882

[2019-02-18 20:45] #772 closed

[2019-02-18 21:29] sabrina-ulbrich commented on #871
I think this is more a design question than a bug. It looks ugly on the homepage but in all other cases it's ok. The question is, what do we want as a limit: 30 chars in one word is sometimes bad but if more words are used or a slash it's no problem since there are two lines.

[2019-02-19 00:20] sabrina-ulbrich commented on #880
Fixed in #882

[2019-02-19 00:20] #880 closed

[2019-02-24 07:01] zaziemo opened #884 "translate imprint into english"
Currently the imprint is only available in german. Should be translated into english or better find a possiblity to automatically create it in english.

[2019-02-24 08:00] zaziemo opened #885 "flaky test: ./spec/system/searching_for_profiles_spec.rb:35"
if ```displays profiles that are a partial match with utf-8 characters``` is the first test that is run. It is failing.

Output via sav_and_open_page -->
<img width="1250" alt="bildschirmfoto 2019-02-24 um 08 54 42" src="https://user-images.githubusercontent.com/2119496/53296715-b04e5080-3812-11e9-8162-647fc7b21dc4.png">

[2019-03-05 09:55] tyranja opened #887 "Add sentry for getting error messages"
I have seen some 503 errors in our app lately and it is hard to track them down so I want to add sentry to our app.

They have a free plan: https://sentry.io/signup/?referrer=pricing
and this is the gem: https://www.rubydoc.info/gems/sentry-raven/2.9.0

[2019-03-05 10:00] tyranja opened #888 "Update the nextcloud talk service so it works"
https://decatec.de/home-server/nextcloud-updates-richtig-durchfuehren/

[2019-03-07 10:40] tyranja opened #889 "Do we need that secret file?"
https://github.com/rubymonsters/speakerinnen_liste/blob/master/config/secrets.yml

[2019-03-12 09:08] tyranja opened #892 "Renaming of main topic"
For a better understanding rename:

main topic => main focus
haupthema => Schwerpunkt

[2019-03-12 10:50] #878 closed

[2019-03-12 10:51] #874 closed

[2019-03-12 14:09] tyranja opened #894 "update to rails 6"
Due to the active storage usage we want to upgrade the rails version

[2019-03-15 10:15] zaziemo commented on #781
https://mendab1e.github.io/dev/2019/03/09/how_not_to_integrate_elasticsearch_testing_with_rspec.html

[2019-03-18 13:45] netagonen opened #897 "Remove media coverage from main page"

[2019-03-18 14:27] netagonen opened #898 "Change categories partial in main page"
branch name: ```replace_categories_partial```
Add a new categories partial
Mention the number of profile next to each category
implement according to Salit's design
![categoris_partial](https://user-images.githubusercontent.com/22200510/54537142-4b5dc480-4992-11e9-8bdb-61c2528a1f61.png)

[2019-03-18 14:28] netagonen commented on #898
Just to make sure, what happens when we click on a category? a page with related profiles is opened?

[2019-03-18 14:30] netagonen opened #899 "Implement new tags design"
According to Salit's design.
Where would it be? front page? separate pages like on figma? we need to decide

[2019-03-18 14:32] netagonen commented on #872
@tyranja : you suggested to leave this open for 2 weeks and see if you can take a look at it. What do you say? can we close this?

[2019-03-18 14:35] netagonen commented on #749
tags view -  Validate that tag has tagging: in a different issue
categories view - make checkboxes for categories' assignment #633: not relevant anymore
overview - the admin start page could use a better overview, like fiftypercent: unnecessary
-->issue can be closed

[2019-03-18 14:35] #749 closed

[2019-03-18 15:31] netagonen commented on #892
done! https://github.com/rubymonsters/speakerinnen_liste/pull/900

[2019-03-18 15:43] netagonen commented on #897
Done. PR: https://github.com/rubymonsters/speakerinnen_liste/pull/901

[2019-03-18 18:38] zaziemo opened #902 "refactor category show action"
and remove n+1 queries

[2019-03-18 19:19] zaziemo commented on #902
- [ ] create index in profiles table (published)
- [ ] delete topic cloud on profiles index (see screenshot)

<img width="1244" alt="Bildschirmfoto 2019-03-18 um 20 18 04" src="https://user-images.githubusercontent.com/2119496/54557261-026e3600-49bb-11e9-8463-bb66d7b9d91b.png">

[2019-03-18 19:56] zaziemo opened #903 "refactor profile feature to remove n+1 query"
search for the place in the code which asks for the translation of the profile and refactor it

[2019-03-18 20:07] #650 closed

[2019-03-18 20:13] zaziemo commented on #644
@tyranja do we want to stick to that gem? It think some tables are missing there. Or should I update the PPT-Doc?

[2019-03-18 20:14] #615 closed

[2019-03-18 20:16] sabrina-ulbrich commented on #903
![feature_profile](https://user-images.githubusercontent.com/372649/54560624-0aca6f00-49c3-11e9-92c3-0b7e2604df42.jpg)

[2019-03-18 20:16] #525 closed

[2019-03-18 20:18] #422 closed

[2019-03-18 20:20] #50 closed

[2019-03-18 20:21] #418 closed

[2019-03-19 08:24] tyranja opened #904 "Add a new column called profession"
Add to the profile a new **profession** attribute

[2019-03-20 12:07] tyranja commented on #903
@sabrina-ulbrich Was starting to read that blogpost: **https://www.speedshop.co/2019/01/10/three-activerecord-mistakes.html**

And we should also replace the `if @features.any?` with `if @features.load.any?`

[2019-03-26 15:23] netagonen commented on #898
Current progress:
![image](https://user-images.githubusercontent.com/22200510/55009394-c18da700-4fe2-11e9-8bfc-e5c623c5452e.png)

remained issues:
1. the colors are not stretching on the whole width of the page. The margins are giving me troubles. Couldn't figure it out yet.
2. the fading of the color: how do we want to calculate it? what does the number represent? the actual number of profiles? s

[2019-03-26 20:18] sabrina-ulbrich opened #907 "link to nowhere?"
Link "Suche anpassen >>" seems to be obsolete
![Screen Shot 2019-03-26 at 21 11 07](https://user-images.githubusercontent.com/372649/55030206-26a9c280-500c-11e9-968a-12c6480b44dd.png)
I get a random speaker but expected kind of advanced search.

[2019-03-26 20:24] sabrina-ulbrich opened #908 "check friendly id"
What does friendly id do with umlauts? Found Hannah Förster with .../hannah-forster
Maybe its better to convert ä, ö, ü into ae, oe, ue?

[2019-03-26 20:27] sabrina-ulbrich commented on #870
It works thanks to @tyranja 👍 so we can close this, right?

[2019-03-26 20:27] #870 closed

[2019-03-26 20:37] sabrina-ulbrich opened #909 "unify gender star"
I found Speakerinnen, Organisator*innen, Speakerinnen*, Speaker\*innen. We should chose one form. I prefer Organisator*innen.

[2019-03-26 20:41] sabrina-ulbrich commented on #909
damned autoformatting, I mean the star is sometimes in the middle, sometimes in the end, sometimes without star and also a slash before the star

[2019-03-26 21:37] tyranja commented on #909
We can ask that next Monday in the meeting.

[2019-03-27 17:16] zaziemo commented on #898
@netagonen great progress so far :)

ad 1) we set a `max-width`of 1200px for the container and a padding. We have to adapt this for the whole page as far as I interpret Salit's drafts. I'd suggest you keep on implementing the functionality and we solve that problem later.
ad 2) colors --> I'll ask Salit, numbers: I think we said it's the number of profiles that are connected to this category.
ad 3

[2019-03-27 19:48] zaziemo commented on #907
I would have expected a link to the "normal" search where I can start over again.

[2019-03-27 21:29] zaziemo commented on #898
@netagonen I tried some things out and opened this new branch: https://github.com/rubymonsters/speakerinnen_liste/tree/mah_suggestion_categories_partial

Feels a little hacky and some things aren't resolved yet (see commit message)
<img width="1245" alt="Bildschirmfoto 2019-03-27 um 22 28 27" src="https://user-images.githubusercontent.com/2119496/55113521-c5532380-50df-11e9-81b7-ac306375975f.png">

[2019-03-27 21:36] sabrina-ulbrich commented on #907
"Normal" search is also ok, but what I found irritating is, that I get the headline "Wir haben eine Speakerin gefunden!" although I didn't type anything into the searchfield ... and with always the same profile of Hannah Förster

[2019-03-28 08:09] zaziemo commented on #907
@sabrina-ulbrich this is weird indeed 🤓

[2019-03-28 18:47] sabrina-ulbrich commented on #907
Something else: I search for a name that doesn't exist, so I get similar suggestions (which is cool), but I don't get the search field again, what I want if the suggestions doesn't match:
![Screen Shot 2019-03-28 at 19 41 18](https://user-images.githubusercontent.com/372649/55184263-fee46700-5191-11e9-94c2-69ad11bd916f.png)

[2019-03-29 11:56] sabrina-ulbrich opened #911 "profiles controller for admin"
There are two actions: update and admin_update in admin/profiles_controller.rb doing similar things, so check to use one action instead.

See: https://github.com/rubymonsters/speakerinnen_liste/blob/master/app/controllers/admin/profiles_controller.rb

[2019-03-29 22:18] netagonen commented on #898
Thanks @zaziemo :)
I inserted the no-gutters class. Couldn't now have a padding at all on the right side :).
We should decide on a calculation first maybe? Salit's calculation seems like a percentage, we want to put the number of profile. If we put the percentage of profiles from the total number of profiles it doesn't look as good as in Salit's demo cause most of it is less then 50%.
Also- the wi

[2019-04-03 12:30] sabrina-ulbrich commented on #894
It's not necessary anymore to use Rails 6 due to ActiveStorage, so I close this issue.

[2019-04-03 12:30] #894 closed

[2019-04-04 08:25] zaziemo opened #913 "add scroll-padding to elements that overlap anchors"
<img width="1172" alt="Bildschirmfoto 2019-04-04 um 10 27 47" src="https://user-images.githubusercontent.com/2119496/55540978-561f9580-56c4-11e9-9fb0-09e1d606cdee.png">

https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/

[2019-04-04 10:27] tyranja commented on #913
A good idea but in the blog is mentioned that right now this only works on Chromium :(

[2019-04-04 11:44] tyranja opened #914 "Use pagy istead of kaminari"
Now we are using kaminari. It would be great to switch to pagy because it is faster.

https://github.com/ddnexus/pagy

[2019-04-04 16:51] sabrina-ulbrich opened #915 "Duplicate profiles with tag-search"
I wanted to see all profiles for the tag "musik", get 28 profiles on 2 pages. On the second page, however, profiles were displayed that already existed on the first page. These are not always the same (like the last or the first ones), but in a new attempt there are different profiles shown twice.

[2019-04-04 18:21] sabrina-ulbrich commented on #876
Idea: Women can enter a name for the url themselves. If the name changes (for example, on marriage), they can change the field themselves, or we suggest that two urls refer to the same profile.

[2019-04-05 19:23] tyranja commented on #903
I guess we can close this for now.

[2019-04-05 19:23] #903 closed

[2019-04-05 19:31] tyranja commented on #915
Maybe, its because every time you go to the first page back, it is loaded again randomly. We can try that on sunday

[2019-04-08 09:14] tyranja commented on #907
So, Hannah Förster had in the twitter field `###` which was not a twitter handle and I guess that is what the search found. So I deleted it and no we have the correct behavior when searching with an empty search field.

[2019-04-08 09:36] netagonen commented on #898
This is current state:
![image](https://user-images.githubusercontent.com/22200510/55714146-5edcd800-59f2-11e9-9fc8-61a6bc5e8c1d.png)

I am not sure this is best solution... I am pretty sure we can do something better. @zaziemo, let's discuss it when we meet

[2019-04-08 10:11] tyranja opened #917 "Fix search view"
Now:
when I use the search I get that view:
![Screenshot from 2019-04-08 11-36-34](https://user-images.githubusercontent.com/1218914/55715671-83867f00-59f5-11e9-9ffb-66a4825cb7d3.png)

On the page you see no profile. For an visitor of the website it is hard to understand that you have to scroll down to get to the profiles.

Also when you start to specify your search with clicking on one of the lin

[2019-04-08 11:34] sabrina-ulbrich opened #918 "Improve search"
Some notes about searching and tags. There is something we have to think about:
If someone search for i.e. "twitter" she gets all profiles with single "twitter" tag but not these with i.e. "twitter for journalists".
Another case: Someone has the tags "influencer marketing", "video marketing", "online marketing", "content marketing" and "social media marketing" but is not shown when I list all tags

[2019-04-09 20:04] tyranja commented on #917
![Screenshot from 2019-04-09 21-48-50](https://user-images.githubusercontent.com/1218914/55831471-7495ee80-5b13-11e9-8df9-485bf53320ae.png)

[2019-04-09 20:05] #907 closed

[2019-04-10 10:53] netagonen commented on #898
Progress!
the design is there! @zaziemo, thanks for the helpful link.
to do's:
[ ] optimize DB queries in categories_helper.rb
[ ] test new helper methods

![image](https://user-images.githubusercontent.com/22200510/55873320-9fbe2380-5b8f-11e9-8a2f-6992e0b1b542.png)

[2019-04-10 14:14] zaziemo commented on #898
🎊🎉🌈❤️😍👩🏽‍💻

[2019-04-12 09:38] netagonen commented on #897
@tyranja, can this be closed?

[2019-04-12 09:39] netagonen commented on #892
@tyranja, can this be closed?

[2019-04-19 19:36] zaziemo commented on #781
https://gist.github.com/zaziemo/1c8f6ed25b17b4200f1f53068e79f905

[2019-04-29 13:53] carlad commented on #884
Here's a draft translation. I'm happy to add it to the EN version of the site:

[2019-04-29 16:52] carlad commented on #884
PR here: https://github.com/rubymonsters/speakerinnen_liste/pull/923

[2019-04-30 09:18] carlad commented on #904
PR here: https://github.com/rubymonsters/speakerinnen_liste/pull/924

[2019-04-30 13:07] #892 closed

[2019-06-17 17:17] zaziemo opened #926 "Consistent use of *"
"Unter dem Feauture steht: Keine Ausreden mehr für Panels ohne Frauen! Alle Speakerinnen* anschauen >>
Hier muss das Sternchen weg.

Unten, unter Marens Bild muss bei der Überschrift: Speakerinnen* das Sternchen weg!

Ganz unten auf der Startseite im Über uns-Text muss bei Veranstalter_innen der Unterstrich durch ein * ersetzt werden.

Auf der Über uns-Unterseite, hier: Wer Organisator_innen auf d

[2019-07-01 08:19] guerda opened #927 "Search result without text match"
Some speakers occur in search results without having a text match. The profile also does not match at all to the search term..

**Steps to reproduce**
1. search for "crypto" or "bitcoin"
2. scroll through list

**Expected results**
Only profiles with that term show up.

**Current results**
Profile of G.R. with "spiritualität" "kreativität" "wertschätzung" appears, no mentions of bitcoin or crypto.

[2019-07-01 11:59] zaziemo commented on #927
Hey @guerda, thanks for bringing that up. This is weird indeed. We'll check that!

[2019-07-01 17:24] zaziemo commented on #927
Hey @guerda,
I debugged the elasticsearch results.
In this case the german language profile has a totally different content than the one in english. If you switch the locale for the profile you can see it. So the matching in the search results works. But seeing the german language profile in the german locale is quite confusing. Since we have no validation for consistency of the profile content we

[2019-07-01 17:50] zaziemo commented on #927
@guerda one idea from our side: we contacted her and asked her to improve the consistency of her profile.

[2019-07-03 08:57] guerda commented on #927
Thank you, Maren, for your quick reply!
This is definitely interesting. I'm not sure why the site was in English, as I'm using a German locale browser etc, but that's not the point :)

Your suggestion is good to keep it consistent. For me as a user I did not know that it's even possible to have two profiles in different languages.
Maybe it would be possible to have a tabbed view of the profiles wh

[2019-07-04 11:30] zaziemo opened #928 "Handling invalid picture format"
Someone uploaded a picture in .webp format (https://developers.google.com/speed/webp/) which is currently not valid.

Either we have to catch the error or to make the use of this format possible.

[2019-07-08 18:11] zaziemo commented on #787
@tyranja I don't find the blog code. Could you please send me an invitation to the repository :)

[2019-07-08 18:25] #926 closed

[2019-07-08 18:31] zaziemo commented on #928
https://stackoverflow.com/questions/52176142/error-with-webp-images-when-using-active-storage-on-heroku

[2019-07-18 11:49] sabrina-ulbrich opened #930 "Contact Mail mark rquired fields and if possible redirect when error to the same page"
There are stars at the first two fields, so it can be interpreted as optional fields, but that's not the case. Actually all fields need to be filled out. When I fill out the form without a name I get an error message and get redirected to another form (same fields but not the popup field). It works, but it's confusing.

- [x] Mark all fields as required. ( easy )
if possible:
- [ ] to redirect to

[2019-08-19 18:25] zaziemo commented on #680
@1000miles --> @Powerglove wants to support the project. She wants to work on that issue.

[2019-08-19 22:25] 1000miles commented on #680
@zaziemo @Powerglove

Hi there, sounds great! Thanks.

Oh, you are right, I noticed that I never pushed it. Sorry about that. I guess it's kind of outdated and a bit a mess so I will push the branch as it as without fixes. Is it okay?

[2019-08-19 22:33] 1000miles commented on #680
I still have some files in that branch that are yet uncommitted. Not sure if I should also commit and push them. Some of them were generated by Docker if I remember correctly? What should we do?

![Screenshot 2019-08-20 at 00 31 17](https://user-images.githubusercontent.com/4077916/63304100-2aebba80-c2e2-11e9-9e4e-892d9946f578.jpg)

[2019-08-20 09:53] Powerglove commented on #680
Hi @1000miles , I think it is fine if you push the files (the yml file and the html). Are the two folders empty? then I guess we won't need them.
Have you documented somewhere where exactly you got stuck with solving this issue?

[2019-08-22 07:26] 1000miles commented on #680
@Powerglove No the `speakerinnen_data` and `docker` folders are not empty and I believe at least `speakerinnen_data` was generated that can be omitted, too.

Thanks, I'll try to look into it over the weekend and push it if it's enough time for you?

[2019-08-23 17:08] sabrina-ulbrich opened #934 "website_with_protocol doesn't work"
every string is accepted in the website (website_2, website_3) field without adding protocol

[2019-08-23 17:27] sabrina-ulbrich commented on #934
or is this not the aim of this method?

[2019-08-23 17:36] sabrina-ulbrich commented on #934
ok, I get it :)

[2019-08-23 17:36] #934 closed

[2019-09-02 21:20] 1000miles commented on #680
@Powerglove , sorry, I forgot to reply to your question `Have you documented somewhere where exactly you got stuck with solving this issue?`. Unfortunately it's not documented but I remember vaguely that I couldn't fully build all containers.

I hope you can work with it for now.

[2019-10-14 17:59] tyranja opened #942 "update to rails 6"

[2019-10-14 18:00] tyranja opened #943 "migrate the pics from carriewave aws to active storage"

[2019-10-14 18:02] #887 closed

[2019-10-14 18:05] zaziemo opened #944 "tag all elasticsearch specs"
so they can be excluded when testing without a running elasticsearch server

[2019-10-14 18:12] zaziemo commented on #909
done!

[2019-10-14 18:12] #909 closed

[2019-10-14 18:22] #897 closed

[2019-10-14 18:23] #898 closed

[2019-10-14 18:31] sabrina-ulbrich commented on #730
I guess this problem is related to a bad usage of active storage in the profile model, method image_variant. There is no need to build every time a new variant object. Not sure if it is better to upgrade rails to 6.0 before.

[2019-10-14 18:48] sabrina-ulbrich commented on #871
It's also a problem when the screen is smaller, like here:
![Screen Shot 2019-10-14 at 20 45 58](https://user-images.githubusercontent.com/372649/66775273-e9cbed00-eec3-11e9-88a9-69aa268b34a6.png)

[2019-10-14 18:51] sabrina-ulbrich commented on #703
It's done

[2019-10-14 18:51] #703 closed

[2019-10-14 19:27] #884 closed

[2019-10-14 19:27] #868 closed

[2019-10-14 19:28] #872 closed

[2019-10-14 22:58] #216 closed

[2019-10-19 06:46] zaziemo commented on #873
Hinweis: @Programmiererinnen: bitte Die Fragen bzw. Schritte und Tipps unten als Dropdown-Zieharmonika anlegen, sodass man alle Fragen auf einem Blick sieht und die Antworten dann entsprechend aufklappen kann.
Hinweis 2: bitte gff. Ankerlink auf „Schritte zum Anlegen eines aussagekräftigen Profils“ in der Bestätigungsmail an neue Speakerinnen ändern.
--

FAQ
Hier beantworten wir Eure wichtigsten F

[2019-10-19 08:30] zaziemo opened #945 "Add code of conduct for contributing"
for the beginning just copy this one: https://github.com/rubymonsters/diversity_ticketing/blob/master/CODE_OF_CONDUCT.md

or this one: https://github.com/opensourcediversity/opensourcediversity.org/blob/master/code-of-conduct.md

[2019-10-19 12:07] zaziemo opened #947 "Hackday"
https://stackoverflow.com/questions/10940736/rbenv-not-changing-ruby-version/16216746

[2019-10-19 12:08] zaziemo commented on #947
@Isa2008 @mairima

[2019-10-19 12:13] #947 closed

[2019-10-19 13:53] tyranja commented on #904
Thank you @carlad

[2019-10-19 13:53] #904 closed

[2019-10-19 14:57] zaziemo commented on #313
probably like this? https://medium.com/swlh/how-should-you-organize-javascript-in-rails-app-3d6cccdd3e28

[2019-10-19 15:13] kolja-lucht opened #951 "Notices for empty fields in contact form should be in a more logical spot"
When leaving any field in the contact form empty, the user gets a notice `can't be blank`, as shown in this screenshot:
<img width="260" alt="Screenshot 2019-10-19 at 16 48 02" src="https://user-images.githubusercontent.com/6205839/67147165-ab9f4680-f292-11e9-9e21-7e1902b67edd.png">

However, it seems like the notice refers to the field underneath the actual field. A better behaviour would be to h

[2019-10-19 15:29] zaziemo opened #953 "Next meetings @Rubymonstas"
Usually we'll meet every monday @7pm here: http://rubymonstas.org/location.html

There are some dates we DO NOT meet:
28.10.2019

[2019-10-19 15:40] sabrina-ulbrich commented on #943
I am wondering how it works with the absolute path because carrierwave and active storage start differently:
- https://speakerinnen-production.s3-eu-central-1.amazonaws.com/uploads/
- https://speakerinnen.org/rails/active_storage/representations/

[2019-10-19 15:47] annesbln commented on #313
This was discussed today. This issue is not relevant at the moment. It seems better to think about this again after upgrading to rails 6 as JavaScript will be handled by Webpacker.

[2019-10-19 15:50] #945 closed

[2019-10-19 15:50] #944 closed

[2019-10-19 18:37] carlad commented on #942
`acts-as-taggable-on` has a dependency on `activerecord` 5.0
but `rails` 6.0 needs `activerecord` 6.0

not sure how to resolve this...

[2019-10-19 21:58] sabrina-ulbrich commented on #942
in another repo we use a fork:
`gem 'acts-as-taggable-on', github: "toughbyte/acts-as-taggable-on"`

don't know if this works here

[2019-10-20 11:29] carlad commented on #942
that helps, but now there a conflict with `actionview`
[code]

[2019-10-20 13:53] sabrina-ulbrich commented on #942
I am not sure whether we can write our own code instead of using the gem. The functionality looks simple, described here: https://github.com/rails/record_tag_helper
It seems that we use it only for the `content_tag_for` method for the medialinks.

[2019-10-20 19:16] kolja-lucht opened #954 "Improve translations in contact form"
The english translations in the contact form could need some tweaking.
For example:
`Send us a mail` -> `Send us an email` or
`Please fill out all the fields.` -> `Please fill all fields.`

[2019-10-21 17:35] tyranja commented on #942
@carlad should I assign you to that issue?

[2019-10-21 17:43] carlad commented on #942
sure. I don't know how much time i'l have to look at it, at least for the
next few weeks, but happy to investigate further...

On Mon, 21 Oct 2019 at 19:35, Tyranja <notifications@github.com> wrote:

[2019-10-21 18:51] ariaru commented on #911
This is my first time looking at Speakerinnen code (yay!), so I could use some input:
I've searched in the code, it seems the admin profiles controller (`controllers/admin/profiles_controller.rb`)'s regular `update` action is not being used, only the `admin_update` action. But I might have overlooked something. Has anyone recently looked at this?
Seems unnecessary to have an extra `admin_update` a

[2019-10-21 19:36] sabrina-ulbrich commented on #730
@zaziemo I guess I solved the problem with the picture load time (at least the part for the active storage images, the others from carrierwave should be migrated within the next days or maybe 2 weeks). Could you take a look at the speed now to compare it with former load time, please?

[2019-10-22 10:35] sabrina-ulbrich opened #956 "profession not saved on production"
The profession is saved locally and on staging but not on production. I can fill in the field, but is not shown in the views (both english and german)

[2019-10-22 11:27] sabrina-ulbrich commented on #911
YAY 🎉 Welcome @ariaru \o/
It's a long time ago I worked on this, but it seems to me you are right. I would prefer to use the update action instead of admin_update because it's the rails default (then we don't need an extra route; it's also clear that we use the admin controller, so it's repeated unnecessarily).
Maybe it's a good way to look at the tests here
https://github.com/rubymonsters/speaker

[2019-10-22 15:54] sabrina-ulbrich commented on #956
now it works :) does anybody change something?

[2019-10-23 13:29] tyranja commented on #956
haha, no maybe some caching in your browser?

[2019-10-23 13:44] sabrina-ulbrich commented on #956
ja, maybe ... however, it's weird ... do we have any control about that from the script side? I wonder how this works for other profiles. @zaziemo could you please add a profession to your profile on production and check if it works, please? If yes, then we can close this issue.

[2019-10-24 15:44] sabrina-ulbrich commented on #942
Some information for updating from rails 5.2.:
https://medium.com/@dylansreile/rails-6-0-new-framework-defaults-what-they-do-and-how-to-safely-uncomment-them-586146f371e8
not sure, what of these points are relevant and what not

[2019-10-27 11:36] sabrina-ulbrich commented on #956
@tyranja yes, I close it, maybe it's just me having problems with it

[2019-10-27 11:36] #956 closed

[2019-11-04 18:35] zaziemo opened #959 "Update Team page"
Take Anne off active members, add Sabrina.

[2019-11-04 19:43] sabrina-ulbrich opened #960 "Edit profile page loads long time after the tags part"
When I want to edit my profile the first sections until tags is there immediately, but after that it takes at least 5 seconds to load.

[2019-11-04 19:48] #959 closed

[2019-11-04 19:51] zaziemo opened #961 "Update to ruby 2.6"
You are using a Ruby version that has either reached its End of Life (EOL)
or will reach its End of Life on December 25th of this year.

We suggest you upgrade to Ruby 2.5.x or later

[2019-11-11 18:25] sabrina-ulbrich commented on #943
Next step is to run the rake task on the staging environment.

[2019-11-11 19:35] Powerglove opened #963 "unsupported Java (JRE)"
"Oracle has announced that from January 2019, Java SE 8 public updates will no longer be available for business, commercial or production use without a commercial license although it will remain free for general purpose computing usage."

An alternative might be Amazon Corretto 8: https://docs.aws.amazon.com/corretto/latest/corretto-8-ug/downloads-list.html

[2019-11-11 19:59] zaziemo opened #964 "Failing spec: ./spec/controllers/admin/category_controller_spec.rb"
[code]
Assumption: there are 2 translations for `locale: 'en'` and there could be a problem retrieving the right one. Why is it possible to create an extra translation for this locale?

#<ActiveRecord::Associations::CollectionProxy [#<Category::Translation id: 3, category_id: 1, locale: "en", created_at: "2019-11-11 19:55:49", updated_at: "2019-11-11 19:55:49", name: nil>, #<Category::Translation

[2019-11-11 22:11] sabrina-ulbrich commented on #943
@tyranja It seems that all pictures are successfully transferred from carrierwave to active storage. You can check it with the edit date 11.11.2019 in admin table. There are some other pictures where the name doesn't correspond to the name at aws, don't know why there are such pics in carrierwave, but I guess all pics with consistent file names are now in sctive storage. Do you have the permission

[2019-11-11 22:13] sabrina-ulbrich commented on #943
... I was talking about staging

[2019-11-12 00:01] sabrina-ulbrich commented on #943
More precisely: There are 4 cases with the pictures (on staging):
- Pictures are transferred (285x), everything paletti, profile has been changed (11.11.2019)
- "exeption: 404 Not Found" (95x) if filename in browser (inspect) and aws do not match (e.g. ID's: 531, 532, 539), looks like that:
![Screen Shot 2019-11-12 at 00 59 04](https://user-images.githubusercontent.com/372649/68630540-f43fcd80-04e

[2019-11-13 22:39] sabrina-ulbrich commented on #964
Any progress here @zaziemo ? I asked Sven why a test can fail on one system but not on others. So, as far I understand it may depend on dependencies: when you have another version of ruby, postgres or something else running then others. Or maybe this failing test is caused by a a specific order of the tests: at the beginning rspec says "Randomized with seed ..." with a specific number, e.g. "Rando

[2019-11-13 23:04] rebecarancan commented on #914
Hello, can I work on this issue?

[2019-11-14 07:14] zaziemo commented on #964
Hey @sabrina-ulbrich thanks for that perspective <3 I will have a closer look on these 2 points. Actually I encountered that problem after upgrading the ruby version. But now the specs also fail even in the branch with the old version (and I also check that the project is using the old version on my machine) :(

[2019-11-14 11:31] sabrina-ulbrich commented on #964
@zaziemo Do you try out to skip/comment out the part `before(:each)` in the `context 'translations'`? Inside this block is build another translation, but not in an appropriate way, so the spec `doesn't create extra translations` (it's commented out now) has 3 translations, but the new created one is nil. So, maybe this empty translation causes errors sometimes.

[2019-11-18 09:11] zaziemo opened #966 "make profile emails visible in admin's profile index view"
https://speakerinnen.org/de/admin/profiles
Christiane wants to send emails to selected speakers to ask if they want to be promoted on our instagram account. Therefore she needs to access their email addresses.
It could be placed below the name. But I'm not opionionated about this.

[2019-11-18 20:27] sabrina-ulbrich opened #968 "remove carrierwave from code"
after all pictures are moved to active storage the gem carrierwave and all releted stuff can be removed

[2019-11-18 20:32] sabrina-ulbrich commented on #943
done

[2019-11-18 20:32] #943 closed

[2019-11-25 18:10] #966 closed

[2019-11-25 18:18] sabrina-ulbrich commented on #914
Sorry, for the late response, but sure, you can work on this. We are happy about it! Feel free to ask, if there are questions.

[2019-11-25 18:33] zaziemo commented on #964
@sabrina-ulbrich yes you are right. I have to check whether this test setting is useful at all. For the moment I can't reproduce this failing spec nowhere but on my private laptop ....

[2019-11-25 18:52] zaziemo commented on #873
- [ ] copy english translations from here https://speakerinnen.org/en/faq for the first 4 questions
- [ ] get translation done for new How-to-texts
- [ ] add anchor named "howto_anker" that opens directly the "How to"-question

[2019-11-25 19:01] zaziemo opened #970 "Translate new FAQ and How To into english"
We need a translation of this text into english:

https://gist.github.com/zaziemo/5427aa21433493e8fbebc6ae5e2e0276

Some of the texts are similar to our current FAQ: https://speakerinnen.org/en/faq

[2019-11-25 19:15] zaziemo commented on #927
Hey @guerda we will discuss your idea when updating our search. For now I unpublished the misleading profile (after a contact via email that didn't change anything).

[2019-11-25 19:15] #927 closed

[2019-11-25 19:52] netagonen commented on #881
To dos:
translate the yml keys to German
resolve the blogpost part
resolve the footer part
resolve the log-in part

[2019-11-25 19:57] zaziemo commented on #881
<%= render 'layouts/footer' if render_footer? %>

[2019-11-25 20:09] sabrina-ulbrich commented on #968
done in #972

[2019-11-25 20:09] #968 closed

[2019-11-25 21:46] sabrina-ulbrich commented on #730
@zaziemo I guess this can be closed, isn't it?

[2019-11-26 08:14] zaziemo commented on #730
Yeah, right @sabrina-ulbrich I will check that again.

[2019-11-26 08:50] zaziemo commented on #730
Ok, I checked again with https://www.webpagetest.org/ and it improved \o/
![Bildschirmfoto 2019-11-26 um 09 42 35](https://user-images.githubusercontent.com/2119496/69613547-023a3600-1032-11ea-9e6d-737ca46c198b.png)

There seems to be room for more improvement but I think we close this ticket now.

[2019-11-26 08:50] #730 closed

[2019-11-26 08:51] zaziemo opened #973 "Exchange inspired logo with this smaller one"
as a result of website speed test and suggested compression of the image. As it is loaded in the footer every time it is worth the effort :)

![inspired_logo_small](https://user-images.githubusercontent.com/2119496/69613717-55ac8400-1032-11ea-90a9-b1395da1e5d8.png)

[2019-11-26 09:39] netagonen opened #974 "Search bar is showing twice after not-found search"
When I run a search that has no results I get this view:
![search_not_found](https://user-images.githubusercontent.com/22200510/69617841-21889180-1039-11ea-8258-14b6a2d46f20.png)

[2019-11-28 18:01] sabrina-ulbrich commented on #915
If so, it is a bit uncomfortable for people looking for a specific keyword. Anyway, I would like to see each profile only once, otherwise it's confusing. What do you mean @tyranja ?

[2019-11-28 18:07] sabrina-ulbrich commented on #914
@rebecarancan Do you still want to work on the pagy issue?

[2019-11-28 18:16] rebecarancan commented on #914
I'm working on it!

[2019-11-28 18:28] sabrina-ulbrich commented on #914
@rebecarancan Cool :) so I assigned you to this issue.

[2019-12-02 18:42] porras opened #976 "Flaky Elastic search tests"
Tests that do a `Profile.__elasticsearch__.refresh_index!` fail sometimes. Looks like a race condition (the index happens asynchronously and sometimes is fast enough so that the assertion works, sometimes it's not).

[2019-12-02 19:38] netagonen commented on #881
I have some progress :)

First, if you want to see it locally , when on my branch, go to `config/environments/development` and change the `true` to `false` in the line: `config.consider_all_requests_local` so you will have `config.consider_all_requests_local = false'. But don’t commit it because we need this to be true on development in general, and then It works only on production and staging.

S

[2019-12-02 20:43] porras opened #977 "Cache docker images in Travis"
Once we merge #971, the build will be slower than now. This can be improved with some caching.

[2019-12-03 08:17] nicolaiparlog commented on #970
Would it be possible to do this question-by-question, spread out across several contributors? If you open a pull request, people could propose their translations as comments. Or you translate the questions and people propose their translations as reviews. Either way would make it obvious for contributors what's left to be translated.

[2019-12-03 08:24] nicolaiparlog commented on #970
Until then, I'll add a Q&As here... :smiley_cat:

# Who can register on Speakerinnen.org?

The goal of Speakerinnen.org is to get more women on stages and podiums, to conferences, workshops, meetings, and into media. Hence, everybody who identifies as a women can register herself. The Speakerinnen team vets every submission for completeness before publishing it.

[2019-12-03 08:29] nicolaiparlog commented on #970
# Which topics can I choose?

You can freely choose your own topics. Upon entering one, you'll get suggestions of similar topics - you can choose one of them or create a new topic. Topics can be in any language. We organize topics into categories, which are then displayed on the Speakerinnen site.

[2019-12-03 08:37] nicolaiparlog commented on #970
# Which languages can I use for my profile?

You can create your profile in either exclusively German, exclusively English, or once in each language. If you create your profile in just one of the languages, it will only be shown in the [German](https://speakerinnen.org/de) or [English](https://speakerinnen.org/en) version of the site. If you create your profile in both languages, it will be shown

[2019-12-03 08:47] nicolaiparlog commented on #970
# Why is my profile not yet published?

The Speakerinnen team consists of volunteers and is not constantly online. If you just submitted your profile, it can take a moment before it is reviewed and published. If you only provided very little information, we may assume that it's not yet complete. If you want to publish it anyways, send a mail to team@speakerinnen.org.

[2019-12-03 14:54] zaziemo commented on #970
@nicolaiparlog thank you so much :)

[2019-12-04 00:03] rebecarancan commented on #914
Hello @sabrina-ulbrich, I'm almost done with this issue, but I'm having trouble to paginate the profiles index with the params[:search]. I'm trying to use the Pagy Extra for ElasticSearch, but it's not working. Could you help me?

[2019-12-04 08:29] sabrina-ulbrich commented on #914
Hi @rebecarancan, yes, I can try :) What's the problem? Maybe you can make a pull request (with "Work in progress" in the title to mark it as not ready) if this is better to show the context.

[2019-12-04 11:01] rebecarancan commented on #914
@sabrina-ulbrich, I'll make a pull request to show you the problem then.

[2019-12-04 23:46] sabrina-ulbrich commented on #908
this can be done with https://github.com/norman/babosa

[2019-12-09 20:14] zaziemo opened #982 "Change address in impressum"
into:
Kombüse e.V.
Ottersbekallee 14
20255 Hamburg

- [x] https://speakerinnen.org/de/impressum
- [x] https://speakerinnen.org/en/impressum
- [x] https://50prozent.speakerinnen.org/de/p/imprint (redirect to https://speakerinnen.org/de/impressum)
- [x] https://50prozent.speakerinnen.org/en/p/imprint (redirect to https://speakerinnen.org/en/impressum)

[2019-12-10 09:10] netagonen opened #983 "Tags in neue Zeile bei ausgewählter Kategorie"
Bei ausgewählter Kategorie > tags sollen in Zeile darunter anfangen, nicht direkt hinter:
![image](https://user-images.githubusercontent.com/22200510/70515189-3a16a280-1b35-11ea-9e8d-69efd3590fac.png)

[2019-12-10 09:13] netagonen opened #984 "Bildgröße bei ausgewählter Kategorie"
bei ausgewählter Kategorie, sollen die Bilder so groß sein?
versuchen mit 5 Bilder pro Zeile statt 4. Aktuell:
![image](https://user-images.githubusercontent.com/22200510/70515524-c1641600-1b35-11ea-9682-7c407872df9a.png)

[2019-12-10 09:22] netagonen opened #985 "Kontakt link bei ausgewählter Profile"
The space for the contact button in the profile view is too big and seems a bit empty. Consider moving it elsewhere or or make that space smaller.

![image](https://user-images.githubusercontent.com/22200510/70516191-e0af7300-1b36-11ea-86f1-b3ab7863d130.png)

[2019-12-10 09:25] netagonen opened #986 "Social Networks buttons"
Implement Instagram and Facebook buttons + links on speakerinnen.org

[2019-12-10 12:10] netagonen opened #987 "Add Kombüse logo + address"
Show Kombüse logo (Where? footer? impressum?)
And add address to legal details page

[2019-12-12 19:49] zaziemo opened #988 "Could not deploy with ruby 2.6.5 on production"
[code]

[2019-12-12 19:57] zaziemo commented on #988
Here are some workarounds: https://devcenter.heroku.com/articles/bundler-version

[2019-12-12 20:50] sabrina-ulbrich commented on #988
@zaziemo I would suggest to install bundler version 2.0.2 on your local machine, that should change the last line in the gemfile.lock to this version (actually there is 2.0.1 written) and when you commit this change I guess heroku take this version instead of the 2.0.1 version.
https://stackoverflow.com/questions/56680065/heroku-installs-bundler-then-throws-error-bundler-2-0-1

[2019-12-13 23:10] shen-sat commented on #951
Hi @kolja-lucht I'd like to take on this issue if possible? I've made one contribution to open source before, and I'm learning to use Rails (for over 3 months) in my current job.

[2019-12-14 19:53] kolja-lucht commented on #951
Hey @shen-sat! Sure, go ahead. Please make sure to check out the contribution guidelines before you're getting started 🙂 https://github.com/rubymonsters/speakerinnen_liste/blob/master/CONTRIBUTING.md

[2019-12-16 18:12] zaziemo commented on #987
duplicate #982

[2019-12-16 18:12] #987 closed

[2019-12-16 18:55] #988 closed

[2019-12-16 19:39] zaziemo opened #989 "Remove annalist@riseup.net out of mailers"

[2019-12-16 19:44] #989 closed

[2019-12-16 19:59] #961 closed

[2019-12-16 20:13] sabrina-ulbrich commented on #982
done in pr #990

[2019-12-16 20:22] #982 closed

[2020-01-02 11:02] sabrina-ulbrich opened #993 "Devise security improvement"
Seems to be an easy way to avoid enumerating users:
https://prathamesh.tech/2020/01/02/being-paranoid-with-help-of-devise/
https://github.com/plataformatec/devise/wiki/How-To:-Using-paranoid-mode,-avoid-user-enumeration-on-registerable

[2020-01-05 16:56] shen-sat commented on #951
Hi @kolja-lucht, apologies for the radio silence on my end! I'm picking up this piece of work now :)

I want to run the project locally, but when I run `bundle install` the install hangs at this line:
`Installing libv8 6.7.288.46.1 with native extensions` and doesn't progress any further (I've tried waiting up to half an hour with no luck).

Have you encountered this problem?

[2020-01-06 09:58] kolja-lucht commented on #951
Hey @shen-sat,
it's been a while since I set up the project, but I don't remember running into that kind of issue.
Does it just get stuck or do you see any errors?

[2020-01-06 18:12] zaziemo commented on #951
@shen-sat on what machine are you working and what operating system are you using?
It would also be good to provoke an error message. Probably try `gem install libv8 -v '6.7.288.46.1'`

[2020-01-06 18:31] netagonen opened #994 "Add filters to the tags"
As a user looking for a speaker I want pick a city and a language from a selection when filtering speakers.
As a user looking for a speaker I want to pick a city and a language with typing when filtering speakers.
As a user looking for a speaker I want to see my selections of cities and languages so I could remember my filters.

Technical notes
Add a language filter and a city filter (select field

[2020-01-06 18:52] netagonen opened #995 "Search filters"
After a search, search results could be filtered by country, city and language.
Change those filters so they would be take less space in the page and the use can see also some search results, meaning profiles.
Ideas to how to collapse the filters could be - collapse, side bar, drop down.
1st step would be to make a decision - to be decided by @salitkrac
in the implementation consider these tickets

[2020-01-06 19:12] netagonen opened #996 "Add a favorite feature"
A nice feature to have, we still need to discuss how to implement it.

[2020-01-06 19:17] netagonen opened #997 "Question: do we want to add a "personal note" field to profiles"
Discuss :)
To add or not to add?
If we add it, where it would be in relation to the other fields?
What about the existing profiles? do we inform the speakers about it so the could add this?
more questions?

[2020-01-06 19:19] netagonen opened #998 "Fix tests that are failing because of the new design"

[2020-01-06 19:28] netagonen opened #999 "Add a new attributes to Profile"
* [x] Add a new copy-right column to the pics table in the database
  - When a speaker upload a picture she can add a copyright to it (not mandatory)
  - show the copy-right attribute under the picture in the profile view
* [x] Add new attribute: format.
* [x] Add 2 binary attributes:
 - willing_to_travel_for_talk
 - willing_to_talk_for_nonprofit
 * [x] Add a new attribute `personal infos`
 Above

[2020-01-06 21:29] shen-sat commented on #951
Hi, thanks for the prompt replies!

I'm using the macOS Catalina 10.15.1.

When I run `gem install libv8 -v '6.7.288.46.1'` I don't get any errors, the installation simply hangs. The output to console looks like this:

`> gem install libv8 -v '6.7.288.46.1'
Building native extensions. This could take a while...`

After a while (I've waited up to half an hour) I force quit the install and I get thi

[2020-01-13 18:26] zaziemo opened #1001 "Add Kombüse logo to Footer"

[2020-01-13 18:29] #1001 closed

[2020-01-13 18:48] zaziemo commented on #951
@shen-sat I'm sorry but I'm afraid I can't help you :( We were encountering problems with Catalina and Ruby 2.6.5. before but couldn't solve it. We are currently working on providing a docker image for this project so getting into the code should be easier in the future.

[2020-01-13 19:28] zaziemo opened #1003 "I get only displayed 3 speakers but the total count says there are 4"
https://staging-speakerinnen-liste.herokuapp.com/en/profiles?utf8=%E2%9C%93&search=katja&button=

<img width="1008" alt="Bildschirmfoto 2020-01-13 um 20 27 57" src="https://user-images.githubusercontent.com/2119496/72285361-3fd73a80-3643-11ea-8391-25973161cb52.png">

in this branch: https://github.com/rubymonsters/speakerinnen_liste/tree/anja-add-new-tag-filter

[2020-01-20 19:20] Powerglove commented on #680
Tackled by #971

[2020-01-20 19:20] #680 closed

[2020-01-20 19:54] zaziemo opened #1004 "Medialinks: description texts are only shown in english"
even in the german locale ...

and if I have a completely new profile, completely different texts are shown

![kaputt](https://user-images.githubusercontent.com/2119496/72754063-1714ef00-3bc7-11ea-8b9a-bdcaad0b8f2d.png)
![Schritt3-Referenzen-en](https://user-images.githubusercontent.com/2119496/72754064-1714ef00-3bc7-11ea-8bf0-4f0184b7f4f1.png)

[2020-01-21 17:29] netagonen commented on #999
Hi @tyranja, @zaziemo and @sabrina-ulbrich :
Should the attribute be added to the Profiles table?

[2020-01-22 09:29] tyranja commented on #999
yes please!

[2020-01-23 10:58] netagonen commented on #999
Cool, I wrote the migration, but when I ran `rails db:migrate` it removed modifiers (like limit: 255, null: ...) from the entire data base and I am not sure if this is how it's suppose to be (without modifiers) or not, therefor, I can't commit the new schema....

[2020-01-23 12:33] tyranja commented on #999
Just discovered that we still have the structure.sql file. we can delete that I guess.

[2020-01-23 12:33] tyranja commented on #999
Can you make a PR?

[2020-01-24 13:57] netagonen commented on #999
I am trying but as I am working on Alon's computer I get this message: `ERROR: Permission to rubymonsters/speakerinnen_liste.git denied to alonpeer.`
Can you please grant him access rights?

[2020-01-24 14:14] netagonen commented on #999
Opened: #1006

[2020-01-25 08:35] zaziemo opened #1007 "Please check: Forgot password not working anymore?"
We got the following email. Could someone please try to reproduce the error and if so, try to fix it? --> please give me feedback to whatever comes out, so I can answer the email.

Hallo, ich habe mein Passwort vergessen und habe einen Link angefordert, und wie angegeben diesen geklickt und ein neues Passwort eingegeben, und dieses bestaetigt. Nachdem ich 'new password' geklickt habe, kam ich aber

[2020-01-27 18:18] #1004 closed

[2020-01-27 18:20] zaziemo commented on #970
![kaputt](https://user-images.githubusercontent.com/2119496/73201766-0a9a1480-413a-11ea-85cc-c537e2d72927.png)
![Schritt3-Referenzen-en-1](https://user-images.githubusercontent.com/2119496/73201767-0b32ab00-413a-11ea-9c91-be39dbe0cab8.png)
![Schritt3-Referenzen-en](https://user-images.githubusercontent.com/2119496/73201769-0b32ab00-413a-11ea-890a-7c678f4c7e72.png)
![Schritt2-Profil2-en](https://us

[2020-01-27 19:16] zaziemo commented on #781
- [ ] make spec pass: ./spec/system/searching_for_profiles_spec.rb:48
- [ ] make spec pass: ./spec/controllers/admin/category_controller_spec.rb:124
- [ ] make spec pass: rspec ./spec/controllers/profiles_controller_spec.rb:38
- [ ] make autosuggestions work again

[2020-01-27 19:25] Powerglove commented on #951
@shen-sat One possible fix is updating the mini_racer gem https://github.com/rubyjs/libv8/issues/280

[2020-01-30 13:33] netagonen commented on #996
## Thoughts so far:
### Phase 1:
* Implement with a cookie which has a 1 year expiration date. No login required
* Have a star/heart sign in the navigation bar to access the  list.
* The favourites list is an index view (like the view of search results).
* Each item in the list is a link to a profile view.
* All profiles will have a heart/star sign to indicate whether they are in the favourites li

[2020-01-31 19:43] sray commented on #313
just saw that pop up in my feed ... @annesbln @zaziemo to let webpacker handle ALL the javascript, you actually need extract the inline javascript inside .rb template files (or sth similar) into separate .js files (and refer/import the js file(s) with `javascript_pack_tag '<pack_name>'` then into your templates for webpacker to package it properly). That is what is meant with this issue. See https

[2020-02-01 15:59] alonpeer commented on #724
Hi 👋
I'm working on getting rid of n+1 queries on the profiles index page, based on data from the bullet logs (it's really great and helpful!).
I realised that, since for each profile we display their list of topics, it uses [this method](https://github.com/rubymonsters/speakerinnen_liste/blob/master/app/helpers/profiles_helper.rb#L25-L27), which takes the list of topics of the profile and fetches

[2020-02-03 19:31] Powerglove commented on #963
Not our problem, because it is used in a Heroku addon.

[2020-02-03 19:31] #963 closed

[2020-02-05 17:11] sabrina-ulbrich opened #1011 "Too many tags?"
Main problem Salit noticed last Monday was the huge amount of tags each category has. No one wants to scroll through a incredible list of 1000 tags or more. So, should we reduce the amount? But wich number of tags is acceptable? I guess even 100 are uncomfortable. What do you think? But even if we reduce the tags up to 100 per category then we lose all the diverse topics. Another idea could be to

[2020-02-06 09:14] tyranja commented on #1011
Thank you for the effort you put into this.

Some more thoughts:
- we talked about not letting the speakerinnen to create new tags
- Salit also proposed to add a field named "personal note" that could be the "about me" you suggested and I really like that idea
- that "main topic" field we already have should cover the slogan or motto you talked about?

[2020-02-06 09:17] tyranja opened #1012 "Add the 8 newest speakerinnen to the first page"
On the homepage show always the last 8 speakerinnen that signed up so they can instantly see their profile after signing up ( and getting published ) make the experience more dynamic :)

[2020-02-06 09:17] tyranja commented on #1012
@zaziemo what do you think?

[2020-02-06 09:20] tyranja commented on #1011
Just found you old tag issue :( https://github.com/rubymonsters/speakerinnen_liste/issues/918

[2020-02-06 09:30] sabrina-ulbrich commented on #918
I renamed this issue because it can be solved with improvement of the search algorithm. There are also some cases in #1011 that can be solved by such improvement, so that "workshop" and "workshops" serve the same results.

[2020-02-06 09:39] sabrina-ulbrich commented on #1011
Good point @tyranja! I realized that there are different problems, one is about search algorithm (get same results with "workshop" and "workshops") - for that is #918 now. Another one is here with the question what function are the tags for.

[2020-02-09 09:32] netagonen commented on #1011
Hi, interesting and important discussion!
In general I think it is important to let speakers have their own topics so they could express themselves best. BUT, there should be limitations.  I am for the solutions @sabrina-ulbrich and @tyranja suggested, considering we keep letting speakers make their own tags:
1. Add a personal note, so the speaker could tel about herself, there should be the motto

[2020-02-10 12:26] alonpeer commented on #1011
Hi everyone.
I read all of the discussion so far and I have some thoughts to share:

1. I think speakers should be allowed to enter any tags they want. I do think that, since the website is aimed to be an international one, all tags should be in the English language. However, we cannot really enforce that (see my next point), so we can just encourage them to do so by having some instructions relat

[2020-02-10 14:09] sabrina-ulbrich commented on #1011
Thanks a lot for your thoughts and suggestions @tyranja @netagonen @alonpeer 🎉

I want to summarize here some points to have a starting point for the discussion.

1. I don't think we can solve the problem, which is why the topic with the tags came up in the first place: the new search for profiles, which Salit presented. According to the usability tests it is too confusing to search in a list of 1

[2020-02-10 17:16] tyranja opened #1014 "Add new attributes"
`willing_to_travel_for_talk`
`willing_to_talk_for_nonprofit`

and make them visible when hovering over an profile

![Screenshot from 2020-02-10 18-15-08](https://user-images.githubusercontent.com/1218914/74172894-574d1780-4c31-11ea-95a0-dd80d31731e4.png)

[2020-02-10 17:22] tyranja opened #1015 "Add a new attribute `personal infos`"
It should be a text field
![Screenshot from 2020-02-10 18-20-29](https://user-images.githubusercontent.com/1218914/74173351-45b83f80-4c32-11ea-9bd2-c9f5a04daf9a.png)

[2020-02-10 18:27] tyranja opened #1016 "Style speaker view"
![Screenshot from 2020-02-10 19-26-18](https://user-images.githubusercontent.com/1218914/74178106-4903f900-4c3b-11ea-897e-108854c38241.png)

[2020-02-10 18:29] tyranja opened #1017 "New style for the homepage"
![Screenshot from 2020-02-10 19-27-50](https://user-images.githubusercontent.com/1218914/74178220-79e42e00-4c3b-11ea-94f5-f9ccb8fea769.png)

[2020-02-10 18:37] tyranja commented on #1011
Just talked about it, we can rename the label from `My topics as tags, please don't choose more than 10 tags:`  to `Topics I want to talk about` or `Meine Themen als Tags, wähle bitte nicht mehr als 10 Tags:` to `Themen über die ich reden möchte` Gonna make a new ticket for that.

[2020-02-10 18:38] tyranja opened #1018 "Rename label on tags"
Just talked about it, we can rename the label from `My topics as tags, please don't choose more than 10 tags:` ->  to `Topics, I want to talk about ( Please do not choose more than 10 )`

in german:

`Meine Themen als Tags, wähle bitte nicht mehr als 10 Tags:` -> to `Themen über die ich reden möchte ( bitte nicht mehr als 10 )`

![Screenshot from 2020-02-10 19-33-19](https://user-images.githubuser

[2020-02-10 18:52] tyranja commented on #1011
We have to many tags ( for what )

we gonna leave the 2 ways of finding a speakerin:

-> concrete search ==> search in tags, bio, etc

-> exploratory search ==> go via categories -> here you have the categories with the 100 or 50 most used tags per category ( the user can choose if they want to see all the tags or just the limited 100 or 50 tags ) and you can choose tags or categories

How many pr

[2020-02-10 19:09] tyranja commented on #995
filter via:

- format
- maybe category

[2020-02-10 19:10] tyranja commented on #995
![Screenshot from 2020-02-10 20-10-16](https://user-images.githubusercontent.com/1218914/74181328-620fa880-4c41-11ea-96c6-bd528675bc35.png)

[2020-02-10 19:13] tyranja opened #1019 "Mail for frauentag relaunch"
We need to send a mail to all speakerinnen with the changes we made ( adding new attributes )

[2020-02-10 19:32] zaziemo commented on #918
cited from #1011:
Also: Unusual/individual spelling with only one profile (e.g. "mutter*schaft" but not found in "mutterschaft")

And: Topics/tags are only displayed if that correspond to the selected language. Most people will probably not be aware of this. Is that described somewhere?

[2020-02-10 19:55] sabrina-ulbrich commented on #997
I closed this, because @tyranja added a new issue #1015 with the descision to add it :)

[2020-02-10 19:55] #997 closed

[2020-02-10 19:55] zaziemo commented on #1011
@alonpeer concerning your point above: we already have included many profile fields in the elasticsearch index - with different weightings:
[code]

[2020-02-10 19:56] zaziemo commented on #1011
FYI: I copied all the relevant feedback to improve elasticsearch into this issue #918

[2020-02-10 20:04] sabrina-ulbrich commented on #1015
Where would it be in relation to the other fields? Above the "Bio".
What about the existing profiles? Do we inform the speakers about it so they could add this? Yes, it should be described in a mail to all speakers #1019 and also in a blogpost.
I would suggest, no more than 175 characters to show it in the short profile view.

[2020-02-10 20:05] zaziemo opened #1020 "Application error while saving comment as an admin"
As an Admin I want wo save a comment for profile speakerinnen.org/de/admin/profiles/5518
and get the following error

[code]

[2020-02-10 20:13] zaziemo opened #1021 "Imrpove admin usability while working through profiles index view"
As an admin I browse through the list of profiles (https://speakerinnen.org/de/admin/profiles?utf8=%E2%9C%93&search=&commit=Suche) and add a "Kommentar" to a profile on page 2, then click to "Kom. speichern".
After the save action I get redirected to the first page again.

Wanted behaviour: I want to get redirected to the page I have been on (page 2). I think we solved the same problem with the ta

[2020-02-12 09:39] netagonen commented on #999
Unified this issue with #1015 and #1014

1 question: what type should be the attribute format? text field? check boxes?

[2020-02-12 09:40] #1015 closed

[2020-02-12 09:52] netagonen commented on #1014
Merged with #999

[2020-02-12 09:52] #1014 closed

[2020-02-12 09:55] netagonen commented on #1015
Merged with #999

[2020-02-17 18:36] zaziemo opened #1026 "E-Mail with new features / developments"
Email and blogpost:

- neue Attribute
  - personal infos ( text_field like bio )
  - copyright for pics ( not so important)
  - offer ( workshop, conference, interview) a dropdown or checkboxes you can choose from
  - willing_to_travel_for_talk ( a checkbox)
  - willing_to_talk_for_nonprofit ( a checkbox)
- Instagram
- Kombüse
- Tagfilter

[2020-02-17 18:41] tyranja commented on #1018
Statt Tags = Themen oder Topic

Unterzeile:
Meine Themen, als Schlagworte ( wähle ... )
My topics as tags ( .. )

[2020-02-17 18:46] #993 closed

[2020-02-17 19:05] tyranja opened #1027 "Show copyright"
when hover over a pic in the single profile view

#1006

- [x] is it in the profile form
- [x] show on profile view

[2020-02-17 19:10] tyranja commented on #1027
![Screenshot from 2020-02-17 20-10-19](https://user-images.githubusercontent.com/1218914/74680645-8f200600-51c1-11ea-89d2-3d95b3596b9d.png)

[2020-02-18 08:35] tyranja opened #1029 "New text for the startpage and category_filter page"
- [x] Add new english text to **start page**

- [x] Add new english text to **sub menu**

- [x] Add bilingual version to **start page**
- [x] Add bilingual version to **sub menu**

in **app/views/pages/home.html.erb**

— Teaser oben —

Englische Version

Get inspired! (Achtung: klein schreiben)
Browse almost 3.000 women speakers to find your expert!

Browse by category
Find the right female speake

[2020-02-18 13:15] tyranja commented on #999
check boxes please. So we have just 4 types of format predefined and the speaker can select them

[2020-02-18 13:17] sabrina-ulbrich commented on #999
As far as I meant the format (in the #1011 issue I called it "offer" or "services" from Alon) should contain the types of presentation the women offer. They should select from the following formats:

- Speech (Vortrag)
- Moderation (Moderation)
- Workshop management (Seminarleitung)
- Consulting (Beratung)
- Coaching (Training)

These are my suggestions, there can be more (but not more than 7 I th

[2020-02-19 19:36] netagonen commented on #1027
I think I am doing it in issue #999? Is it just the hover? That I didn't do.
@Powerglove, I will push my branch so you can work on it

[2020-02-19 21:12] tyranja commented on #1019
We had a duplication

[2020-02-19 21:12] #1019 closed

[2020-02-19 21:12] tyranja opened #1030 "Smaller logos in the footer"
the logos in the footer have to be smaller!

[2020-02-20 08:36] netagonen commented on #999
Ok, I discussed with Alon and read some online. it seems that a joined table would be a good solution.
Also: do we want this for frauentag?? should we add the label/project or would it be better to focus on another issue?

[2020-02-20 09:06] alonpeer commented on #995
👋 I can try to do this one.

[2020-02-20 13:35] alonpeer commented on #995
@tyranja should I work on this from master branch or another one?

[2020-02-20 13:55] tyranja commented on #995
Master is fine. Not gonna change much in search. Thank you!!!

Not sure if filtering via category make sense. Because we admins set those categories to the tags and if people are looking for a tag  they probably don't care in which category it is in.

But filtering with the new attributes `will_be_for_non_profite` and `willing_to_travel` would make sense. So maybe you have to make a branch from Ne

[2020-02-21 08:24] netagonen commented on #999
more todo's:
for copyright: show when hover
for personal note: add "in English", "auf Duetsch", add tooltip

[2020-02-22 14:56] alonpeer commented on #995
Ok I'll discuss this with Neta as well.

[2020-02-24 13:08] Powerglove commented on #1027
@netagonen I only volunteered to do it, because no one else had time. If you are working on this anyways and have capacity, please go for it. There's other things I can work on ;)

[2020-02-24 13:42] Powerglove commented on #1029
working on branch new-text-for-starpage

[2020-02-24 18:20] zaziemo commented on #1026
@tyranja wo werden die Inhalte von "Personal Infos" genau angezeigt? Und: wie heißt das Feld auf deutsch?

[2020-02-24 19:48] sabrina-ulbrich commented on #1007
I tried it out and it works, so I close this issue. Maybe you can ask for the email and we look in the database? @zaziemo

[2020-02-24 19:48] #1007 closed

[2020-02-24 20:06] #1027 closed

[2020-02-25 19:55] tyranja commented on #1030
done

[2020-02-25 19:55] #1030 closed

[2020-02-25 19:58] tyranja opened #1035 "Change looks of attributes 'willing_to_travel' and 'non_profit'"
When `willing_to_travel` and `non_profit` is not filled in,  it should show an empty square or the attributes not at all. I was wrong! @zaziemo what do you think? empty checkfield or don't show the attributes at all?

![Screenshot from 2020-02-25 20-54-20](https://user-images.githubusercontent.com/1218914/75282411-527f8a80-5811-11ea-92df-12975fde7e28.png)

[2020-02-29 12:05] zaziemo commented on #1035
How do we deal with other information that is not provided. We should stick with that logic. If we display an empty field, we should do that here as well. But showing an empty checkfield would suggest you can click it, doesn't it? And that you can't do in the show view. Probably we should display k.A. or n/a. So people can see that there is no information provided by the speaker and they could ask

[2020-03-01 20:43] tyranja commented on #1035
We do show the label only when when the field is filled in. So we would not show the 2 attribute when there are empty.

[2020-03-02 19:48] zaziemo opened #1042 "Donate Anker doesn't work anymore"
Since we changed the FAQs the donate_anker doesnt work anymore.

Link: https://www.speakerinnen.org/faq#donate_anker should lead to donation account information

[2020-03-02 20:54] zaziemo commented on #1026
done

[2020-03-02 20:54] #1026 closed

[2020-03-04 16:46] tyranja commented on #1029
Thank you!

[2020-03-04 16:46] #1029 closed

[2020-03-05 00:17] sabrina-ulbrich opened #1048 "Search button under search field"
on staging it looks like expected `<div class="col-lg-6 col-dm-12">`:
![Screen Shot 2020-03-05 at 00 59 30](https://user-images.githubusercontent.com/372649/75934612-40d75c00-5e7d-11ea-98d2-7e89ca050b4e.png)
but on production the search button goes down under the search field `<div class="col-lg-6 col-dm-12 ml-2">`:
![Screen Shot 2020-03-05 at 00 59 53](https://user-images.githubusercontent.com/37

[2020-03-05 00:58] sabrina-ulbrich opened #1049 "Tag filter: double tags"
"Österreich" is a tag occured in at least two categories. If I selected both and search for profiles in the tag search field are six tag buttons shown. I think that is a special case that not really happen that often but should be solved sometime ;)
![Screen Shot 2020-03-05 at 01 51 47](https://user-images.githubusercontent.com/372649/75937244-a7ac4380-5e84-11ea-8d2a-fcddd30f40e0.png)

[2020-03-05 01:21] sabrina-ulbrich commented on #1049
In comparison "Afghanistan" is always shown once although it is listed in two categories; and "Afrika" is shown twice, but the same color (but listed in two different categories).
![Screen Shot 2020-03-05 at 02 18 33](https://user-images.githubusercontent.com/372649/75938387-ed1e4000-5e87-11ea-8e96-bf010ece3f4a.png)

[2020-03-05 07:17] zaziemo opened #1050 "Colours of categories "chart" partial"
@tyranja did you change the colors of the bars?
Before the were more pastel (if I do remember it right).

Besides orange and purple are used twice.
<img width="1108" alt="Bildschirmfoto 2020-03-05 um 08 15 31" src="https://user-images.githubusercontent.com/2119496/75957175-be20c200-5eb9-11ea-91dd-d0870dc601c4.png">

[2020-03-05 07:19] zaziemo opened #1051 "Mobile view: categories partial"
- numbers on the right hand side get lost
- Category names are not aligned in the middle

<img width="509" alt="Bildschirmfoto 2020-03-05 um 08 17 48" src="https://user-images.githubusercontent.com/2119496/75957286-ff18d680-5eb9-11ea-833e-fb33bd0b9c7c.png">

[2020-03-05 07:22] zaziemo opened #1052 "Mobile view: Footer navigation elements overlap logos"
<img width="499" alt="Bildschirmfoto 2020-03-05 um 08 21 37" src="https://user-images.githubusercontent.com/2119496/75957491-6c2c6c00-5eba-11ea-95eb-fa2766b857cd.png">

[2020-03-05 07:41] zaziemo opened #1053 "Profile edit: different button size when logged in"
As the contact button was stretched to the same size as the picture, the other buttons I see, when logged in ("Profil bearbeiten" etc.) are too  small
<img width="1239" alt="Bildschirmfoto 2020-03-05 um 08 38 07" src="https://user-images.githubusercontent.com/2119496/75958646-efe75800-5ebc-11ea-86df-273a2b27807d.png">

Ideas:
* don't show the contact button on the own profile when logged in (becau

[2020-03-05 07:51] zaziemo opened #1054 "E-Mail-Adresse von einem Account ändern"
Daten liegen im Team-Account unter dem Betreff: "[Speakerinnen-Liste] Meine Logindaten"

[2020-03-05 15:10] sabrina-ulbrich opened #1055 "German version: upper or lower case but not mixed"
In the german version there is sometimes lower case used like "Lass **d**ich inspirieren" and sometimes upper case like "für **D**eine Konferenz". We should decide one of this (not sure what is correct in these cases, in letters I prefer upper case).

[2020-03-05 17:37] netagonen opened #1056 "profiles overview: rotated picture"
Can we prevent this somehow?
![Screenshot from 2020-03-04 22-28-10](https://user-images.githubusercontent.com/22200510/76008714-6497b200-5f10-11ea-8941-0574e91d6b3b.png)

[2020-03-05 17:41] netagonen opened #1057 "FAQ's: last paragraph"
FAQ's: the last paragraph, the bullet points are aligned left and the text is aligned to the center.
Suggestions:
Maybe this paragraph could be entirely aligned to the left?
Or the whole FAQ's aligned to the left?

![Screenshot from 2020-03-05 18-40-23](https://user-images.githubusercontent.com/22200510/76009022-d66ffb80-5f10-11ea-87d7-c2cd7db07018.png)

[2020-03-05 17:47] netagonen opened #1058 "Profile view: differences between EN and DE in city, twitter and website"
Some speakers don't have the city,  website or twitter in the EN version, and I think maybe it's not on purpose.
Suggestions:
- Profile edit: add tooltip to translated info to explain the meaning like in the FAQ's
- move website and twitter not in the translatable part  in the form (is there something to translate there??), with city it's more complicated though

![Screenshot from 2020-03-05 18-30

[2020-03-06 19:35] tyranja commented on #1050
Should be ok now

[2020-03-06 19:36] tyranja commented on #1051
The numbers vanish in smaller devises or else they overlap. It is a feature . Should they overlap the stripes when they are aligned in the middle?

[2020-03-06 21:23] tyranja commented on #1053
done

[2020-03-06 21:23] #1053 closed

[2020-03-06 21:23] tyranja commented on #1052
done

[2020-03-06 21:23] #1052 closed

[2020-03-06 21:24] #1050 closed

[2020-03-09 20:01] zaziemo commented on #1058
@netagonen adding a tooltip would be good but I think people read it seldomly.
Concerning your second suggestion: the fields were moved into the translatable part because people asked for it (e.g. since they have an english speaking twitter account or website and one in their native language).

Could you explain a little bit more the problem you encounter with those empty fields? E.g. as a confere

[2020-03-09 20:02] zaziemo commented on #1057
I think it would be cool to have the whole FAQs left aligned. This was also the intended behaviour. But I think things changed when merged into the new design.

[2020-03-09 20:03] #1042 closed

[2020-03-10 10:34] netagonen commented on #1058
ok, I didn't know about the english/german twitter difference.
My personal experience was that it's unclear.
I also thought about what you mentioned: first, it might be annoying to insert the same info twice and that an organizer could miss speakers.

I guess we can talk about it when we meet.

[2020-03-10 10:37] netagonen opened #1060 "Salit website link does not work"
![image](https://user-images.githubusercontent.com/22200510/76304363-8e135d80-62c3-11ea-8050-05dad95853bb.png)

[2020-03-10 10:47] netagonen opened #1061 "Make profiles overview tooltip wider"
... So the line "willing to travel..." and "willing to talk for nonprofit" will fit in one line

[2020-03-10 10:51] netagonen opened #1062 "add tests for the new attributes"
Add tests for the new attributes from issue #999:
picture copyright
personal note
service
willing to travel
nonprofit

which kind of tests should be added??

[2020-03-10 10:53] #999 closed

[2020-03-10 10:55] #1035 closed

[2020-03-16 20:09] zaziemo opened #1064 "App crashes when trying to load pictures"
check what is wrong:
There are different kinds of errors we got into our devops account

`An ActionView::Template::Error occurred in profiles#show`
`MiniMagick::Invalid occurred in representations#show`

[2020-03-16 20:12] netagonen opened #1065 "Design changes discussion"
The relaunch is a great success, the website looks amazing! :tada:
After browsing around, I have found a few details I would like to discuss. Feel free to add your own in this issue.

### Home page
1. Search bar: there is some unused space under the search bar. Should we increase the size of the search bar to make it stand out more?
2. The 4 squares ("Register now" etc.): it seems like the padding

[2020-03-16 20:18] netagonen opened #1066 "Change female to women on profile page"
Here we use women-
![image](https://user-images.githubusercontent.com/22200510/76796323-74927a00-67cb-11ea-9675-cbb43c525a43.png)

And here we use female:
![image](https://user-images.githubusercontent.com/22200510/76796476-cd621280-67cb-11ea-9a1f-8688bf59f07f.png)

-> Change the wording to womwn

[2020-03-16 20:29] zaziemo commented on #1064
@sabrina-ulbrich do you have an idea what happens?

[2020-03-16 21:54] sabrina-ulbrich commented on #1064
@zaziemo I don't know, something is wrong with the pictures, but I have no idea how to find out what's wrong with it.

[2020-03-16 22:23] sabrina-ulbrich commented on #1064
@zaziemo maybe look in the database for `image.blob.content_type` for the concerned profiles. We have to check that no webp images are uploaded, that can cause errors.

[2020-03-18 09:26] salitkrac commented on #1065
Hello, I am going through all your comments and realize most of them refer
to things which I designed completely different in Figma, but did not make
it to production.
Take a look a the home page for example:
https://www.figma.com/file/aPmSe86hz49J8n1daelWUBDp/Speakerinnen?node-id=625%3A2713

I am also talking the opportunity to say once more that it would be a great
idea to have a UI designer on

[2020-03-29 16:25] netagonen commented on #1065
@salitkrac , thanks for all the comments! And for all the UX work! I guess we can discuss further next time we talk :)

[2020-03-29 16:29] tyranja commented on #1060
The image did not work as well :( I fixed it. Soooory!

[2020-03-29 16:29] #1060 closed

[2020-04-06 18:02] netagonen commented on #1003
Fixed with #1038

[2020-04-06 18:02] #1003 closed

[2020-04-06 18:05] #974 closed

[2020-04-06 18:08] netagonen commented on #964
@zaziemo , is this really a bug or is it just in your machine?
Should we close the issue or remove the bug tag?

[2020-04-06 18:23] netagonen commented on #271
We tried to reproduce the bug, we got to an error page after clicking on "go back to speakerinnen". Is this the bug? Should the error page not be there or it something else?

[2020-04-06 18:35] netagonen commented on #876
Are users aware of this problem?
Can we warn them not to change their names?
OR
Is it a feature that is not yet implemented?
How would we want to implement it?
Would it be a mandatory field?
What happens with all the users who changed their names so far?

[2020-04-06 18:45] netagonen commented on #951
@shen-sat, now we have docker and it should fix all these problems :)
Are you still interested on working on this issue?
Otherwise @Powerglove and I will take it.
Thanks!

[2020-04-09 09:48] shen-sat commented on #951
Hi @netagonen, thanks for the heads up :) I'll try runnning the dockerised version tonight - if it works then I would love to work on this issue. If I still can't build the app then I will hand over to you. Does that sound ok?

[2020-04-09 14:34] netagonen commented on #951
Sure! let me know how it goes, thanks!!

[2020-04-11 09:56] zaziemo commented on #271
@netagonen the expected behaviour would be to get right back to the homepage of speakerinnen.org if you click on the button. You shouldn't see the error page. This works if I click on the Link below, but not if I click on the button.

<img width="1230" alt="Twitter___Autorisiere_eine_Applikation" src="https://user-images.githubusercontent.com/2119496/79040786-557ce180-7beb-11ea-9894-9ad4df8fbc8b.p

[2020-04-11 10:06] zaziemo commented on #876
@netagonen this is something that is already implemented. We use the gem `friendly-id` to make routing by name instead of id possible (default Rails Route `.../profiles/1` vs. .../profiles/maren-heltsche`). This comes with the downside that if the name changes the slug (last part of the route) also changes.

I think we shouldn't prevent our users to change their names. Nobody would do that unless

[2020-04-11 10:08] zaziemo commented on #964
@netagonen I don't know. Did you try it on yours? @sabrina-ulbrich couldn't reproduce it. Travis either. So if you can't reproduce it neither you could close it.

[2020-04-11 12:36] alonpeer commented on #271
✋ I can take a look at this bug.

[2020-04-11 12:54] sabrina-ulbrich commented on #964
@zaziemo @netagonen Actually, after installing docker I get this error, too. Weird!

[2020-04-11 12:59] sabrina-ulbrich commented on #1048
Am I the only one where the search form with button looks like this (the second picture)? Maybe it's because of my small screen (11,6 inch)

[2020-04-11 13:09] tyranja opened #1069 "Wrong speakerinnen selection when in category scope"
When we enter the speakerinnen overview page via the categories we get the a corret title, e.g. 'Wissenschaft & Technik' but the subsctitles count is wrong 'Wir haben 2938 Speakerinnen in der Kategorie` and the speakerinnen are all speakerinnen. We have to change that.
![Screenshot from 2020-04-11 15-07-52](https://user-images.githubusercontent.com/1218914/79044634-7bfc4600-7c06-11ea-836e-6ef14b70

[2020-04-11 13:19] tyranja commented on #1048
I think I have seen it, but only on a very special size. But if you see it then we shoud change it!

[2020-04-12 09:52] alonpeer commented on #1048
I can reproduce this. PR on the way.

[2020-04-12 10:15] alonpeer commented on #1069
I'm taking a look at this 👀

[2020-04-12 10:45] alonpeer commented on #1069
So yeah, the issue is that when the page https://speakerinnen.org/de/categories/11 loads, the search executed in the controller is [profiles_for_index](https://github.com/rubymonsters/speakerinnen_liste/blob/master/app/controllers/profiles_controller.rb#L182-L189), and this method doesn't take into account `param[:category_id]`.
What's the right way of searching profiles by category ID?

[2020-04-16 19:13] Powerglove commented on #928
@netagonen and I tried to reproduce this error but uploading a webp file worked without any problems.
But we found out that we could validate image type with this code:
`   validate :image_type `

[code]

[2020-04-25 13:10] #1069 closed

[2020-04-25 13:17] #1048 closed

[2020-04-26 17:55] alonpeer opened #1073 "The same profile appears multiple times in a category page"
When viewing the Environment & Sustainability page (https://speakerinnen.org/en/categories/13), the same profile of Mara-Daria Cojocaru appears three times at the top results.

[2020-05-17 12:40] kolja-lucht commented on #970
Hey @zaziemo and @langjoh, do you still need help with the translations? I'm happy to pick something up :)

[2020-05-17 12:42] kolja-lucht commented on #954
Ticket can be closed since the translations were merged.

[2020-05-17 12:42] #954 closed

[2020-05-17 12:57] #951 closed

[2020-05-18 15:03] zaziemo commented on #970
hey @kolja-lucht, as far as I remember this work is done. But this is a good reminder to actually close the ticket :)
If you are interested in doing something I can get back to you after our team call this evening and propose you some tickets.

[2020-05-18 15:03] #970 closed

[2020-06-18 12:48] zaziemo opened #1080 "Reduce maximum width of the category vizualisation bars"
Currently the bars of the category viz are "pushing" the numbers to the right.

Check if it is possible to restrict the maximum width of the bars or fix the position of the numbers.

<img width="1269" alt="Bildschirmfoto 2020-06-18 um 14 46 33" src="https://user-images.githubusercontent.com/2119496/85021735-8ee54680-b172-11ea-9452-3ecea61ac397.png">

[2020-06-18 14:07] #1080 closed

[2020-06-18 14:19] zaziemo commented on #985
already done

[2020-06-18 14:19] #985 closed

[2020-06-18 14:20] zaziemo opened #1081 "Add another contact button below profile show page"
to prevent people using the team "Contact" that is shown in the footer

[2020-06-19 08:26] #1081 closed

[2020-06-19 08:27] zaziemo commented on #986
I didn't add buttons but links in the footer. I think that's ok for now
<img width="1110" alt="Bildschirmfoto 2020-06-19 um 10 27 05" src="https://user-images.githubusercontent.com/2119496/85113378-7a0ebe80-b217-11ea-85cf-c742380ad8dd.png">

[2020-06-19 08:27] #986 closed

[2020-07-21 15:20] n3k00n3 commented on #1066
I think this issue was solved!
![issue_1066](https://user-images.githubusercontent.com/7244777/88073393-8060c500-cb4c-11ea-9359-1a054b8beb26.png)

[2020-08-02 09:45] #1061 closed

[2020-08-02 09:58] zaziemo commented on #1061
thanks @athomschke :)

[2020-08-02 10:12] #271 closed

[2020-08-02 10:19] zaziemo commented on #271
Thanks @alonpeer, works as expected :)

[2020-08-02 14:48] sabrina-ulbrich commented on #1064
@zaziemo I checked all mails with this error message and all these errors were caused by one and the same profile picture. This picture was empty, 0 kb. I removed it, because every time a page loaded with this empty image the error occured with a bad looking placeholder. I'll open a PR to exclude picture formats other than jpg, gif or png, because if someone tries to upload a webp image it is in t

[2020-08-02 15:16] sabrina-ulbrich commented on #928
For now I excluded use of other formats than jpg, png or gif in this PR #1085. I would recommed to close this issue to get an better overview what is really needed. What do you mean @zaziemo ?

[2020-08-02 15:22] sabrina-ulbrich commented on #1011
I closed this issue because the new design is done. 💯

[2020-08-02 15:22] #1011 closed

[2020-08-02 15:40] sabrina-ulbrich commented on #1066
Yess, issue is solved, thanks for noticing @n3k00n3 !

[2020-08-02 15:40] #1066 closed

[2020-08-02 16:37] sabrina-ulbrich commented on #1055
After looking around a bit, I find it better to use lower case letters for all salutations: is more common and less rigid. :)

[2020-08-02 16:44] sabrina-ulbrich commented on #1020
I cannot reproduce this error. It works fine. Do we want to close this issue @zaziemo ?

[2020-08-03 15:56] zaziemo commented on #1064
cool, thanks! I will merge the PR asap

[2020-08-03 15:58] zaziemo commented on #1020
Ok, this means you checked to add a comment at the same profile and it worked?
I will ask Christiane if she encountered the problem during the last weeks. If not I will close the issue.

[2020-08-03 16:31] sabrina-ulbrich commented on #1020
Yes, I added a comment to my own profile and to the one mentioned in this issue and it works as expected without error @zaziemo Thanks :)

[2020-08-03 16:37] sabrina-ulbrich opened #1086 "add mail addresses"
I want a sabrina@ mail address :)

[2020-08-04 06:48] zaziemo commented on #1020
@sabrina-ulbrich ah ok, Christiane also said she didn't have the error during the last time. I will close the issue and we can reopen it if this happens again.

[2020-08-04 06:48] #1020 closed

[2020-08-05 18:56] #1064 closed

[2020-08-05 18:57] zaziemo commented on #1086
Hey @tyranja could we do that by ourselves or do we have to ask Urs?

[2020-08-05 19:57] sabrina-ulbrich commented on #1057
done :)

[2020-08-05 19:57] #1057 closed

[2020-08-05 20:00] sabrina-ulbrich commented on #1012
it's already done, right?

[2020-08-05 20:00] #1012 closed

[2020-08-05 20:03] #960 closed

[2020-08-10 18:55] zaziemo commented on #781
Already did some work on this branch: https://github.com/rubymonsters/speakerinnen_liste/compare/mah-upgrade-elasticsearch

[2020-08-12 10:52] tyranja commented on #1086
I gonna ask Urs later.

[2020-08-12 11:35] netagonen opened #1087 "Tooltip problems"
1. in mobile the bootstrap green checks - `'fa-check-square'` - are not visible .
2. When a speaker doesn't have any of the fields that are shown in the tooltip in her profile (city, language, wiiling to travel, willing to speak nonprofit), all that is shown is a tiny little triangle above the profile when hovering.
3. In mobile, the tooltip is shown when tapping on the profile, but that's already

[2020-08-15 14:21] zaziemo opened #1088 "App crashes while admin updates profile (add comment)"
We again get an 500 error, when we try to update a profile as an admin

This ist the error message
[code]

These are the profiles where the problem occured recently
https://speakerinnen.org/de/admin/profiles/franziska-hilfenhaus
https://speakerinnen.org/de/admin/profiles/barbara-janczer
https://speakerinnen.org/de/admin/profiles/cornelia-lindner

[2020-08-15 14:23] zaziemo opened #1089 "Admin profiles index: redirect back to where I left before the update action"
If I update a comment in the admin profiles index I get redirected back to the first page of the profiles.

What I want: get back to the profile I updated.

[2020-08-17 19:07] netagonen commented on #781
Steps towards upgrade elastic search locally:
1. Have production data on local machine
2. Re-Index elasticsearch with new data
3. Make sure website on localhost still works
4. Upgrade elasticsearch server and API in the docker container - look at @zaziemo 's branch first:
(links which might be useful for this step that @zaziemo  referred to:
- https://www.elastic.co/upgrade_guide
- https://logz.io

[2020-08-31 10:49] #1018 closed

[2020-09-01 13:02] zaziemo opened #1090 "Rename master branch into main"
https://medium.com/faun/git-step-by-step-renaming-a-master-branch-to-main-16390ca7577b

[2020-09-08 18:39] netagonen commented on #781
https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking_50_suggester.html
https://www.elastic.co/guide/en/elasticsearch/reference/5.0/search-suggesters-completion.html
https://www.elastic.co/blog/strings-are-dead-long-live-strings

[2020-09-14 12:40] MichalFrontEnd commented on #973
Is this already done?
If not, I would love to do it.

[2020-09-20 11:52] langjoh commented on #973
@MichalFrontEnd No, this isn't done yet, please go ahead. I'll unassign myself from the issue.

[2020-09-20 12:43] langjoh commented on #781
@netagonen Hi Neta, about step 4 (Upgrade elasticsearch server and API in the docker container): I think all you have to do is to specify a later version of the elasticsearch image in the docker-compose.yml. At the moment it is ``` image: elasticsearch:2.4.5 ``` .
Here you can find all available image versions: https://hub.docker.com/_/elasticsearch and then search under 'tags' for your preferred

[2020-09-25 08:56] kolja-lucht commented on #930
Hey @tyranja and @sabrina-ulbrich,
it's been almost a year since I picked up this issue... 🙈  Does it still need to be fixed? I'm willing to give the redirect another try. What do you say? 😊

[2020-09-26 11:34] sabrina-ulbrich commented on #930
Hi @kolja-lucht,
yes, this issue with the redirection is still open. If you want to fix that, we would be happy! 😄

[2020-09-27 13:44] kolja-lucht commented on #930
Sounds good. Will give it a shot then 🙂

[2020-09-30 09:45] netagonen commented on #781
@langjoh thanks fir the reply and sorry for the late response- you are totally right! we did spend some time until we realize it. I still have a question regarding the `volumes:` Could you maybe help?
 in the docker-compose.yml we commented out `volumes: - elastic_data:/usr/share/elasticsearch/data2`
so version 6 could work, otherwise there is an error. we need to find out how to make it work. May

[2020-09-30 09:52] netagonen commented on #781
hi @zaziemo ,
There is some progress :) all documented here: https://cloud.speakerinnen.space/f/22379
Can also move it here to the issue if it's better. see also PR #1091 .
There is still more work to do...

[2020-10-12 15:27] kolja-lucht commented on #930
How attached are you to this flash alert message when not all fields are filled out?

![Screenshot 2020-10-10 at 18 43 55](https://user-images.githubusercontent.com/6205839/95763668-a0b5a100-0caf-11eb-9d1b-6e8e16dec003.png)

It seems to be quite tricky to get that to work inside the modal. Of course I would make sure the error messages for each empty field ("can't be blank") will still appear insi

[2020-10-25 11:03] sabrina-ulbrich opened #1095 "Category box changes after selection of a topic"
1. Go to https://speakerinnen.org/profiles and choose a category, i.e. "Körper und Geist"
2. Select a topic, i.e. "abenteuer"
3. Click "Speakerinnen mit diesem Thema"

Result: Speakerinnen are shown, but the selected Category at the top is not any more "Körper und Geist" as expected, but "Beruf und Bildung". It doesn't matter which category you choose, you will always see category "Beruf und Bildu

[2020-10-25 11:05] sabrina-ulbrich commented on #1086
it's done, thank you @tyranja 😃

[2020-10-25 11:05] #1086 closed

[2020-10-26 18:50] zaziemo opened #1096 "Contact email: change sender?"
We got the feedback from one of our speakers that it is a little bit confusing getting emails with Team / team@ as a sender. She'd find it better if it was obvious that this email came via the contact form.

Please check:
- is it possible to have another name for the sender or
- could we use another email address for that type of email contact@speakerinnen.org

[2020-10-26 18:54] zaziemo opened #1097 "Reaction of cookie consent"
We got a feedback about a buggy cookie consent:
"Das Cookie-Popup reagierte auf Handy und PC erst nach 2 oder 3 Klicks, vorher lief es gefühlt auch ins Leere. Ich hatte das vor einiger Zeit schon einmal, da reagierte es glaube ich gar nicht."

Browser and Ad-Block:
Chrome oder Edge 86.0.622.51 auf dem PC und Firefox auf dem Handy. In Edge nutze ich ublock origin

It is possible that the problem ha

[2020-10-26 20:14] zaziemo commented on #781
@netagonen @alonpeer concerning *min_score*

I think we need one - or probably some more tweaking with the tie_breaker or field weighs.
Can you explain how the profiles in the search results are ordered? Is it after the scores?

I made tests with the following search terms:
1) for „Social Business“, being in :en

Localhost: 1.108 speakers
examples for non matching profiles (for my understanding):

[2020-10-26 20:21] zaziemo commented on #781
@netagonen @alonpeer
Concerning autosuggestions:
Here I don't get the same autosuggestions as on production which is good, because currently the suggester seems to be buggy if not broken :(

I would say it works as expected.

The suggested terms seem to be sorted by a score. Do you know what this score is about?

[2020-10-26 20:28] zaziemo commented on #781
Solution for 0 Matches --> I opened a new issue. I think this is out of the scope for this one here.

[2020-10-26 20:34] zaziemo opened #1098 "Change page: if search has 0 matches"
If your search result has 0 matches we want to give a hint where the search could go on.

The hints to similar names or topics didn't work well. The idea (as currently implemented) to link to the "Filter by Themes" is a good one. But the link should be placed more prominentely with a hint:

"Discover in which fields our speakers are experts in:"

<img width="1122" alt="speakerinnen_org" src="https

[2020-11-05 17:38] tyranja opened #1099 "Update ruby version"
There is a more recent Ruby version available for you to use:
 2.6.6

The latest version will include security and bug fixes. We always recommend
running the latest version of your minor release.

Please upgrade your Ruby version.

[2020-11-08 18:18] zaziemo commented on #781
@netagonen concerning cities: I think it is good to have the cities not analyzed. I remember faintly that we had problems with people having a city name as their real name. Besides as the cities serve as filters they are already covered.

[2020-11-08 18:21] zaziemo commented on #781
@netagonen concerning the HashWrapper. Do I get it right that we have to add it somehow? If we have to, we should do it. This was one of the reasons we wanted to update elasticsearch in the first place (we were annoyed by these warnings.)

[2020-11-10 20:28] alonpeer commented on #781
Hi @zaziemo. I just checked, and the `Hashie::Mash#key` warnings appear on my localhost when I'm on the master branch, but no longer appear on the `neta/upgrade-elastic-6.7` branch. 🎉

[2020-11-20 18:05] #722 closed

[2020-11-23 18:03] tyranja commented on #1098
:partying_face: @athomschke

[2020-11-23 18:03] #1098 closed

[2020-11-23 18:32] zaziemo commented on #781
The country filtering does not work anymore.

To reproduce:
1) search for anything
2) click on one country in the most left column
You get this view
<img width="1066" alt="Bildschirmfoto 2020-11-23 um 19 31 38" src="https://user-images.githubusercontent.com/2119496/100000914-97e1e000-2dc2-11eb-9c59-f88ac56a9492.png">

[2020-11-23 18:37] #1089 closed

[2020-11-23 19:03] tyranja commented on #1021
I think this is done here: https://github.com/rubymonsters/speakerinnen_liste/issues/1089

[2020-11-26 20:01] athomschke commented on #1087
**1. in mobile the bootstrap green checks - 'fa-check-square' - are not visible .**
Is that still reproducable? I used Safari and Chrome on mobile and saw the checkboxes.

**When a speaker doesn't have any of the fields that are shown in the tooltip in her profile (city, language, wiiling to travel, willing to speak nonprofit), all that is shown is a tiny little triangle above the profile when hov

[2020-11-27 18:03] #1054 closed

[2020-11-28 18:18] zaziemo opened #1103 "Deploy elasticsearch update on production"
- [x] DB dump

- [x] merge PR & run tests

- [x] Tweet

- [x] Heroku Maintenance Mode ON
heroku maintenance:on --app speakerinnen-liste

- [x] log in into Heroku
—> delete Search Box add-on

- [x] Reinstall Searchbox
heroku addons:add searchbox:starter --es_version=6 --app speakerinnen-liste

- [x] Check config vars & restart App

- [x] push master to heroku
git push production master

- [x] Impor

[2020-11-28 18:43] #781 closed

[2020-11-28 19:27] #1103 closed

[2020-11-29 12:10] netagonen commented on #1087
HI @athomschke, thanks for the remarks!

1. great!
2. great * 2!
3 + 4: I think it would be best to discuss in the team meeting.
5. There is a search test that fails. I think it would be good to upgrade for new search version which now available on master.

[2020-11-29 12:28] netagonen commented on #1058
Hi @zaziemo , going over this again, what if we do create a fallback?
So if some data for twitter, website and city is filled in only one language, and the speaker has profile data in both languages, we present it in the other language also?

[2020-11-29 12:30] netagonen commented on #899
@tyranja, this implemented long ago, right?

[2020-11-29 12:32] netagonen commented on #1056
I believe this was fixed?

[2020-11-29 12:47] netagonen commented on #1065
Some solutions are in Salit's latest Figma board

[2020-11-29 12:51] netagonen commented on #998
@tyranja, that's probably fixed??

[2020-11-29 12:55] netagonen commented on #995
Think about implementing together with #994

[2020-11-29 13:08] netagonen commented on #983
Is this still relevant? now it looks like this:
![Screenshot from 2020-11-29 14-07-24](https://user-images.githubusercontent.com/22200510/100542767-65196b00-324c-11eb-8cfc-d7614ec48237.png)

[2020-11-29 15:58] zaziemo commented on #1058
@netagonen yes this could be possible. What about bringing this up tomorrow evening. Just to check if we don't overlook something.

[2020-11-30 19:26] netagonen commented on #899
This is implemented hurray!

[2020-11-30 19:26] #899 closed

[2020-11-30 19:31] netagonen commented on #983
This is no longer relevant :)

[2020-11-30 19:31] #983 closed

[2020-11-30 19:35] netagonen commented on #1056
Fixed

[2020-11-30 19:35] #1056 closed

[2020-11-30 19:37] netagonen commented on #984
We won't change this after all

[2020-11-30 19:37] #984 closed

[2020-11-30 19:41] #998 closed

[2020-11-30 19:52] netagonen commented on #976
Lets check if this happens also after upgrade and the wait for elastic script added

[2020-12-07 19:22] langjoh opened #1106 "update Docker base image"
We haven't checked our base image's version for about one year. For security reasons, we should update it regularly.

[2020-12-07 19:26] zaziemo opened #1107 "Add new page 'Code of Conduct'"
As a visitor of our site
I want to have a page with a code of conduct
So that I can access and read it easily.

* [x] build layout and fill in content [de]
* [x] build layout and fill in content [en]
* [x] add link to footer
* [x] add link to navigation

[2020-12-09 20:15] zaziemo opened #1109 "Fix Matomo Installation"
Our Matomo Tracking is broken since the servers on uberspace were moved.

We have to install it from scratch: https://matomo.org/docs/installation/

[2020-12-09 20:23] zaziemo commented on #1107
like `/app/views/pages/about.de.html.erb` and `/app/views/pages/about.en.html.erb`

[2020-12-09 20:24] zaziemo commented on #1107
German text:
[Speakerinnen_CodeofConduct_de-final.docx](https://github.com/rubymonsters/speakerinnen_liste/files/5668472/Speakerinnen_CodeofConduct_de-final.docx)

[2020-12-09 20:27] zaziemo commented on #1107
@athomschke could you try that?

[2020-12-14 19:54] zaziemo commented on #1107
English text:
[Speakerinnen_CodeofConduct_en-Carlas-edit.docx](https://github.com/rubymonsters/speakerinnen_liste/files/5691273/Speakerinnen_CodeofConduct_en-Carlas-edit.docx)

[2020-12-15 09:44] tyranja commented on #1099
@athomschke works on that here https://github.com/rubymonsters/speakerinnen_liste/pull/1105

[2020-12-15 09:53] tyranja commented on #1088
When I try to update via console I get that error message:

Traceback (most recent call last):
        1: from (irb):4
ActiveRecord::RecordInvalid (Validation failed: The image is too big. Only pictures up to 2 MB are allowed.)

[2020-12-15 10:34] tyranja commented on #1088
I have added smaller pics to those profiles myself and now it should work.

[2020-12-15 10:36] tyranja commented on #1051
@zaziemo Can you have a look at my comment?  I have the day of today :tada: So I can go on your nerves :laughing:

[2020-12-15 11:44] tyranja opened #1110 "When filtering via tags you get redirected to the english version"
On the speaker index page: https://speakerinnen.org/profiles

-> you choose a tag
-> click on the button "speaker for this topic"
-> get the correct profiles but redirected to the english page.

![Screenshot from 2020-12-15 12-41-54](https://user-images.githubusercontent.com/1218914/102210862-07835080-3ed3-11eb-87ed-0870086c2b07.png)

[2020-12-15 12:29] zaziemo commented on #1051
@tyranja with alignment I mean vertical alignment.
<img width="498" alt="Speakerinnen_org" src="https://user-images.githubusercontent.com/2119496/102215041-6f3c9a00-3ed9-11eb-9805-446540326cf6.png">

And with the numbers: I think it is not a problem if they overlap the stripes.

[2020-12-17 20:30] athomschke commented on #1087
As mentioned by @tyranja , this is not fixed yet after merging https://github.com/rubymonsters/speakerinnen_liste/pull/1102 . Checking.

[2020-12-17 21:17] athomschke commented on #1087
Hmpf, there must be something I am missing, since I'm failing to reproduce this locally. Is it possible to get a data dump for one of the profiles where it shows the empty triangle? I'm assuming there's some edge-case in which my condition returns a false negative.

[2020-12-19 14:46] tyranja commented on #1087
@athomschke can you move you mouse over the 4th speakerinnen in the feature block? https://staging-speakerinnen-liste.herokuapp.com/

![Uploading staging_speak.png…]()

[2020-12-19 21:16] athomschke commented on #1087
Yes, sorry, I didn't make myself clear. I am trying to reproduce this behavior locally on my machine, so I can debug it better - however, if I create a profile without additional data here, it does not show the tooltip triangle. So I'm thinking the difference is in the configuration of profiles that I test with locally and the one on staging. Since I don't have admin credentials to the staging env

[2020-12-21 14:24] tyranja commented on #1087
oh ok. Adding you to heroku would be helpful I guess :D

[2020-12-21 14:33] tyranja commented on #1087
Solltest jetzt heroku staging zugang haben....

[2020-12-21 20:29] zaziemo opened #1114 "Update Heroku stack on staging and production"
https://devcenter.heroku.com/articles/upgrading-to-the-latest-stack

<img width="620" alt="Bildschirmfoto 2020-12-21 um 21 28 03" src="https://user-images.githubusercontent.com/2119496/102819345-94e30b00-43d3-11eb-8d06-70a237bb053f.png">

[2020-12-21 20:30] zaziemo commented on #1107
done :)

[2020-12-21 20:30] #1107 closed

[2020-12-21 20:33] zaziemo opened #1115 "Contact form: add link to Code of Conduct"
As a person who contacts a speaker or the team
I should see a link to the Code of conduct.

<img width="401" alt="Speakerinnen_org" src="https://user-images.githubusercontent.com/2119496/102819650-25b9e680-43d4-11eb-92ad-93ab72de4bc5.png">

[2020-12-21 20:41] zaziemo opened #1116 "Profile edit: Add checkbox to Code of Conduct"
Add new checkbox and link to the Code of Conduct (should open in a new tab) to the profile form.
Also add a validation so that everyone who signs up or saves her profile is forced to check this field and hopefully reads the CoC.

<img width="846" alt="Speakerinnen_org" src="https://user-images.githubusercontent.com/2119496/102820093-f657a980-43d4-11eb-8241-4173207f6dfd.png">

[2020-12-22 10:13] zaziemo commented on #1088
@tyranja ist das Ticket damit abgeschlossen?

[2020-12-22 10:43] zaziemo opened #1117 "Delete references to piwik/matomo"
Currently the page loads very slowly. One problem might be the not working connection to the server where our piwik instance used to live. This could create timeouts.

[2020-12-22 14:23] tyranja opened #1119 "Heroku stack updaten staging and production"
![Screenshot from 2020-12-22 15-05-20](https://user-images.githubusercontent.com/1218914/102898287-94954f00-4469-11eb-85a1-1233db15becf.png)

[2020-12-22 19:43] zaziemo commented on #1119
See #1114 😝

[2020-12-22 20:28] zaziemo opened #1120 "Prevent app to cause H12 - Request Timeout errors"
https://devcenter.heroku.com/articles/h12-request-timeout-in-ruby-mri

Find out which processes are slow.

[2020-12-23 14:00] #1117 closed

[2020-12-26 20:33] zaziemo commented on #942
I didn't add webpacker yet but I think we'll need it as soon as we start using stimulus.
If we want to add it we have to add `gem "webpacker"` and install it `bin/rails webpacker:install`

[2021-01-01 15:39] tyranja opened #1122 "Frontpage - design changes"
1) Make the search bar bigger so the words are fully readable
2) Add an empty square to the list of speakerinnen
3) Add titles to the category bars

![Screenshot from 2021-01-01 16-36-55](https://user-images.githubusercontent.com/1218914/103441635-9de3a000-4c4f-11eb-88e8-cf1c8e3da2f7.png)
![Screenshot from 2021-01-01 16-36-48](https://user-images.githubusercontent.com/1218914/103441636-9e7c3680-4c

[2021-01-02 12:57] langjoh opened #1123 "Run individual tests in local Docker"

[2021-01-02 15:13] #1123 closed

[2021-01-02 17:08] tyranja opened #1124 "Speakerinnen Result page - Design Changes"
Make the "filter by themes" more visible

![Screenshot from 2021-01-02 18-06-43](https://user-images.githubusercontent.com/1218914/103462417-529bc100-4d25-11eb-860e-da51844f801c.png)

[2021-01-02 17:13] tyranja opened #1125 "About us page - Design Changes"
Pictures to the left and smaller pics.

pic size: 200px x 200px and margin between the persons is 50px

from

![Screenshot from 2021-01-02 18-11-51](https://user-images.githubusercontent.com/1218914/103462527-12890e00-4d26-11eb-997a-d59cb19e8227.png)

[2021-01-10 13:50] langjoh opened #1128 "Local setup without Docker"
Some devs have asked if it is possible to develop locally without having to use Docker. While Docker should remain the default (so the app runs on all machines locally), individuals could setup a workaround if they prefer to develop without Docker.

[2021-01-10 14:19] langjoh commented on #1128
Thanks to @porras for the help!

[2021-01-12 16:30] sabrina-ulbrich opened #1132 "mail to team speakerinnen in FAQ doesn't work"
1. Go to https://speakerinnen.org/de/faq and to the topic "Why is my profile not yet published?"
2. Click on team@speakerinnen.org and you are redirected to the homepage with the text "Sorry, die Seite, die du gesucht hast, existiert nicht." Same in german locale.

It should instead redirect to the contact form or open an email.

[2021-01-12 18:08] sabrina-ulbrich commented on #942
@zaziemo After clicking around I found only three small issues:

1. Input of not existing page, i.e. not existing profile name, results in an error screen from rails:
![Screen Shot 2021-01-12 at 17 11 41](https://user-images.githubusercontent.com/372649/104354153-14628680-5509-11eb-9ba4-f1f806b3748c.png)

2. FAQ - Why is my profile not yet published? mail to team@speakerinnen doesn't work, returns

[2021-01-12 21:06] tyranja commented on #942
to 1) that is fine. in production we get that nice looking error page but in development we get the infos so we can trace the error. All fine here. ( I also tend to forget about that :) )

[2021-01-12 21:46] tyranja commented on #942
to 2) Hups, we had wrong quotes there :open_mouth: I guess we copied them from a office text. I fixed that and pushed it to production.

[2021-01-12 21:49] tyranja commented on #942
3) no idea how to fix this? Do we have an option to crop in on both sides equally?

[2021-01-12 22:02] sabrina-ulbrich commented on #1132
wow cool that's fast 💯  thanks to @tyranja 😄

[2021-01-12 22:02] #1132 closed

[2021-01-12 22:05] tyranja commented on #1132
Haha, and you where fast in creating and closing this ticket. Thank you.

It was a bit tricky because I did not see the different quotes in the beginning.

[2021-01-13 11:12] dieberlinerin opened #1133 "Fix link and change picture on about-page (Mandy section)"
In the short description on Mandy on the about-Page (https://speakerinnen.org/de/about) I would like to have the link fixed behind: Dr. Madny Read (2 times).

The correct link is: https://madnyread.tumblr.com/

And could anyone please change the picture - new picture attached here:
![DW_P6B1533_klein-quadrat](https://user-images.githubusercontent.com/75301058/104444673-68687c00-5598-11eb-8d73-1603

[2021-01-14 14:42] zaziemo commented on #942
@tyranja @sabrina-ulbrich is that problem with the picture only on the rails 6 branch or is it the same in production?

[2021-01-14 15:13] zaziemo commented on #1120
mal checken:
[code]
[code]
A Rack::Timeout::RequestTimeoutException occurred in profiles#index:

 Request waited 22912ms, then ran for longer than 7088ms
 app/views/shared/_tagbox.html.erb:1:in `_app_views_shared__tagbox_html_erb___4057451778339204059_46812640'

-------------------------------
Request:
-------------------------------

 * URL        : https://speakerinnen-liste.herokuapp.com/de/cat

[2021-01-14 15:37] sabrina-ulbrich commented on #942
@zaziemo This problem is only on the rails 6 branch, but I compared only my profile-picture. Maybe we should upload different pictures and check the behavior. It seems to be something different at the uploading process.

[2021-01-14 15:40] sabrina-ulbrich commented on #942
@zaziemo Maybe it has something to do with the format of the original photo, because my example is a rectangle and is cut into a square.

[2021-01-14 15:53] zaziemo commented on #942
@sabrina-ulbrich crazy shit würde ich mal sagen. Good catch! Es wird wirklich einmal eher links gecroppt, einmal eher rechts.
Ich würde dafür ein eigenes Ticket aufmachen und nicht in diesem Kontext noch recherchieren. Ist das ok @sabrina-ulbrich und @tyranja?

![Speakerinnen_org_und_Speakerinnen_org](https://user-images.githubusercontent.com/2119496/104614771-d8eec600-5688-11eb-936a-0e8023b4b6d4.

[2021-01-14 20:17] zaziemo opened #1134 "Check and Update Active Storage behaviour with profile images"
With the update from Rails 5.2 to 6.0 we observed a different cropping behaviour of the profile images.
Apparently there are a few changes to how Active Storage processes variants of the images: https://bloggie.io/@kinopyo/upgrade-guide-active-storage-in-rails-6

We should adapt this asap.

<img width="1276" alt="104614771-d8eec600-5688-11eb-936a-0e8023b4b6d4" src="https://user-images.githubuserco

[2021-01-14 20:25] zaziemo commented on #942
done! Thanks @athomschke for your work and @sabrina-ulbrich for the good testing. I have opened this issue for the image cropping problem #1134

[2021-01-16 17:39] zaziemo opened #1137 "Improve travis.yml"
Form a PR of @porras

"There are a couple of things that could be improved in the travis setup but are unrelated, so they can be done separately:

Are those two secret keys needed to run the tests?
The sleep 10 (to give elasticsearch time to get started before start running the tests) could be replaced with something a bit more clever that actually checks it and waits exactly as much as it's neede

[2021-01-18 18:13] #1119 closed

[2021-01-18 18:19] #1088 closed

[2021-01-18 18:24] zaziemo commented on #1017
I will close this issue since we are working on a new design.

[2021-01-18 18:24] #1017 closed

[2021-01-18 18:25] #953 closed

[2021-01-18 18:27] zaziemo commented on #930
@sabrina-ulbrich @tyranja do you think we should take the effort to get this done or close the issue?

[2021-01-18 18:27] zaziemo commented on #1016
I think this is done!

[2021-01-18 18:27] #1016 closed

[2021-01-18 18:30] zaziemo commented on #996
@netagonen if you find this still interesting please bring it up on our monday meeting. If not we could "archive" this issue

[2021-01-18 22:22] linkclau opened #1138 "Unactivated account error message is "not" visible"
when you try to login into an account which hasn't been activated, the login seems to fail without "any" error message.
After deleting all cookies there is a yellow/orange error pop-up. But it was not visible long enough to read the message.
I don't know if it was there before and I missed it, it was shown for maybe 0.1 to 0.2 seconds (not the 2000ms the code suggests).
I believe it was the "uncon

[2021-01-19 11:00] KanchanPrasad commented on #1133
I would like to work on this project.

[2021-01-19 16:47] zaziemo commented on #1133
@KanchanPrasad yes sure, go for it :)

The changes have to be applied in `about.de.html.erb` and `about.en.html.erb`

If you need help with anything, let me know.

[2021-01-20 14:39] KanchanPrasad commented on #1133
Okay mam

[2021-01-21 09:05] KanchanPrasad commented on #1133
Mam done

[2021-01-21 13:06] sabrina-ulbrich opened #1139 "500 Internal Server Error"
Selecting a tag and search for profiles on page https://speakerinnen.org/profiles results in a 500 Internal Server Error.

An I18n::InvalidLocale occurred in profiles#index:

 "" is not a valid locale
 app/controllers/application_controller.rb:35:in `set_locale'

-------------------------------
Request:
-------------------------------

 * URL        : https://speakerinnen.org/profiles?tag_filter=a

[2021-01-21 13:42] #1139 closed

[2021-01-21 13:56] tyranja commented on #1133
Unfortunately I just redesigned the "about us" page here: https://github.com/rubymonsters/speakerinnen_liste/pull/1140

So you might put the code in this branch.  Sorry for the confusion. Usually we do not work so often on the same pages.

Sorry :disappointed:

[2021-01-21 13:58] tyranja commented on #1133
Can you send a link to your changes?

[2021-01-24 15:48] #1128 closed

[2021-02-01 19:11] tyranja commented on #1125
Donie :D

[2021-02-01 19:11] #1125 closed

[2021-02-01 19:14] tyranja commented on #1122
![Screenshot from 2021-02-01 20-10-07](https://user-images.githubusercontent.com/1218914/106506272-c9b1aa00-64c9-11eb-9cd2-ca36cce2b59f.png)
@madny can you look though the texts in this page? they need to be made nice and translated. That would be great.
It is also on the figma page https://www.figma.com/file/aPmSe86hz49J8n1daelWUBDp/Speakerinnen?node-id=1071%3A2846

[2021-02-04 11:34] tyranja opened #1142 "Add an inactive button to the account edit page"
Some Speakerinnen want to deactivate their account for a certain time.
In order to do that we need a button on the account edit page to make the profile "invisible"

[2021-02-05 16:11] dieberlinerin commented on #1122
I don't understand very well (sry): what do you need exactly? Translate the text which are there now (because sometimes we already have the texts, e.g. for the categories, did you change them? and why?) Or: companies & start-ups - this is a category that we already have. Why change it?
p.s. I'm not "madny" ;-) but "dieberlinerin"

[2021-02-07 18:15] tyranja commented on #1122
Sorry, for the confusions :confused:

1. We need a better subtitle for the "browse by categories" to tell people what to do here. ( we added a new 2.sentence, but we are not sure if that is good description )

2. and in the new empty speakerinnen field we added new text which should be looked at.

we can also just talk about it next meeting :smiley:

[2021-02-07 18:33] tyranja commented on #1122
https://github.com/rubymonsters/speakerinnen_liste/pull/1143

[2021-02-12 15:52] dieberlinerin commented on #1122
I left some comments and a text suggestion for the new empty field.

[2021-02-28 12:32] netagonen opened #1146 "Search in front page"
Changes to be done:
* When clicking on the search button, when no search results to come (for example - with no search term or a gibberish word) in addition to "We found a speakerinnen for your search:"We found 0 speakerinnen for your search:" the user should see al profiles.
* search bar in the header - Hide search bar in the header from home page.
* Main search bar:
  * Add aggregation options a

[2021-02-28 12:40] netagonen opened #1147 "Rethink search bar in the header"
In which pages should we have a search bar in the header?
In which pages, part from homepage) we need a search bar which is not in the header but should be somewhere else?

[2021-02-28 12:46] netagonen commented on #976
fixed with https://github.com/rubymonsters/speakerinnen_liste/pull/1091

[2021-02-28 12:46] #976 closed

[2021-03-01 17:46] zaziemo opened #1148 "Disallow semrush bot"
https://www.semrush.com/bot/

It causes a lot of timeouts while crawling through all pages like this:  https://speakerinnen.org/de/topics?page=81&topic=rente%2Bund%2Bsteuern

[2021-03-01 17:47] zaziemo commented on #1133
I will take over from here. @KanchanPrasad if you'd like to contribute again let's set up a short call to make an introduction.

[2021-03-01 19:44] #1133 closed

[2021-03-01 19:59] zaziemo commented on #1114
we have to install ruby-2.6.5 first

[2021-03-03 20:01] zaziemo commented on #1133
@KanchanPrasad you could send me an email at maren@speakerinnen.org

[2021-03-06 17:37] salitkrac commented on #1147
As it looks now, every page except the home page

[2021-03-06 18:26] alicetragedy commented on #1142
I really like this idea! There are definitely a lot of cases where someone might want to not receive requests for a certain time and in that case it’s so helpful for both speaker and conference organiser to have something like that so that no one wastes their time...
you could also make the account still visible (e.g. in search) but add the “inactive” label to it and put it at the bottom of search

[2021-03-16 20:07] zaziemo commented on #1138
@linkclau thanks for your bug report. We fixed the problem by keeping the alert message longer so that people can read it comfortably!

[2021-03-16 20:07] #1138 closed

[2021-03-16 20:16] #1099 closed

[2021-03-29 17:45] tyranja opened #1153 "Fix bug when choosing no filter/tag"
When choosing no filter we get:
A NoMethodError occurred in profiles#index:

  undefined method `id' for nil:NilClass
  app/controllers/profiles_controller.rb:43:in `index'

https://speakerinnen.org/en/categories/7

[2021-03-29 17:47] tyranja commented on #1095
Done

[2021-03-29 17:47] #1095 closed

[2021-03-30 09:24] zaziemo opened #1154 "Get rid of I18n deprecation warning"
DEPRECATION WARNING: Using I18n fallbacks with an empty `defaults` sets the defaults to include the `default_locale`. This behavior will change in Rails 6.1. If you desire the default locale to be included in the defaults, please explicitly configure it with `config.i18n.fallbacks.defaults = [I18n.default_locale]` or `config.i18n.fallbacks = [I18n.default_locale, {...}]`. If you want to opt-in to

[2021-03-31 20:25] zaziemo opened #1155 "Get rid of sentry deprecation warning"
Post-install message from sentry-raven:
`sentry-raven` is deprecated! Please migrate to `sentry-ruby`

See https://docs.sentry.io/platforms/ruby/migration for the migration guide.

[2021-04-02 11:17] zaziemo commented on #1114
done :)

[2021-04-02 11:17] #1114 closed

[2021-04-02 11:32] #1148 closed

[2021-04-12 18:03] tyranja commented on #1142
- add an attribute for the speaker called "inactive"
- remove the contact button and just make some not usable button called "inactive" "nicht aktiv" if inactive
- make sure userin can set profile to inactive in edit profile

[2021-04-19 17:44] zaziemo opened #1159 "Disallow petalbot"
https://webmaster.petalsearch.com/site/petalbot

User-agent: PetalBot
Disallow: /

[2021-04-19 17:52] zaziemo opened #1160 "FIx special tag filter request"
We got some error messages  for the request of this URL:  https://speakerinnen.org/profiles?tag_filter=&locale=de&commit=Speakerinnen+mit+diesen+Themen

[code]

The referrer Link was: https://speakerinnen.org/de/topics?topic=change+management

So I suppose someone was on this page and clicked on the Button "Speakerinnen mit diesen Themen".

# TODO
1) Please try to reproduce the error.
2) Fix the p

[2021-05-24 13:31] #1122 closed

[2021-07-06 10:38] tyranja commented on #1160
Gleiche wie: https://github.com/rubymonsters/speakerinnen_liste/issues/1153

[2021-07-06 10:39] tyranja commented on #1153
Gleuch wie: https://github.com/rubymonsters/speakerinnen_liste/issues/1160

[2021-07-06 10:39] #1153 closed

[2021-07-07 10:07] tyranja commented on #1142
I have added the inactive column to the profile which is per default "false". The Speakerin and the admin can change the attribute
and then the profile is still visible but the contact button is inactive and the text changed. I did not want to take away the button because then the user of the website would start to find looking for it.

Now need some feedback:, regarding wording and design:

**The

[2021-07-07 15:39] salitkrac commented on #1142
Hi Anja, please find my suggestion here:
https://www.figma.com/file/aPmSe86hz49J8n1daelWUBDp/Speakerinnen?node-id=1458%3A3010

* it will be great if someone else can look at it and give feedback before you implement it :-)

[2021-09-09 19:24] sabrina-ulbrich opened #1171 "Search doesn't work for cities not listed in the first selection"
- Search for something like "ruby"
- Click on the More-Link at the end of the list of cities
- Select one of the new cities and you get the message: "Unfortuantely we have found no speakerin matching your search" but you should find at least one profile
- same for languages

[2021-09-27 17:25] #1124 closed

[2021-09-27 18:11] athomschke commented on #1116
Should this be saved as a setting ("User already accepted CoC") or will Speakerinnen need to accept the CoC each time they edit their profile?

If it's stored as a setting, do Speakerinnen need to re-accept when the CoC changes?

[2021-10-24 14:02] sabrina-ulbrich opened #1177 "Different new registrations"
There are different new registrations on the homepage dependent on the language (de or en).

[2021-10-25 19:32] #1177 closed, assigned to nobody

[2021-10-25 19:45] sabrina-ulbrich opened #1179 "Docker (compose?) doesn't work for new Apple M1 Chip"
I spend some time to get docker working with the Apple M1 chip, but it doesn't work. I found out that adding the new platform is necessary, like here: https://onexlab-io.medium.com/apple-m1-chip-no-matching-manifest-for-linux-arm64-v8-docker-mysql-5142060a9309

But in the end, elasticsearch was not working inside docker. Without docker it works.

@langjoh do you want to take a look at this?

[2021-10-26 11:29] sabrina-ulbrich opened #1181 "First stage Vorarlberg: database extension"
should be finished middle of November:
- [x] add state to database in: profile_translations
- [x] change views: profiles/ -> _show, _profile_formfields
- [x] selectbox in formfields (javascript?)
- [x] storing data and translations for states (DE, AT, CH)
- [x] add param to controller and such small stuff
- [x] write tests

[2021-10-26 11:34] sabrina-ulbrich opened #1182 "Second stage Vorarlberg: Searchfilter for states"
should be finished until middle/end of November
- [x] implement filter for states in elasticsearch
- [x] show filter on search page
- [x] write tests

[2021-10-26 11:44] sabrina-ulbrich opened #1183 "Third stage Vorarlberg: Landingpage vorarlberg.speakerinnen.org"
should be finished until end of year:
- [x] subdomain, cause of linkhandling and avoiding duplicate code
- [x] register Subdomain and adjust Heroku-Hosting
- [x] adjust devise for subdomain handling (email link)
- [x] Landingpage for Vorarlberg
- [x] adjust header and footer
- [x] about page
- [x] show newest Speakerinnen from Vorarlberg on the VAB landingpage
- [x] search with Vorarlberg-Filter a

[2021-10-26 11:53] sabrina-ulbrich opened #1184 "Fourth stage Vorarlberg: Linking and promoting"
After the project is completed it would be nice to link on speakerinnen.org to it.

- [x] add FAQ entry to explain the difference between speakerinnen and vorarlberg-speakerinnen
- [x] create a feature to introduce some speakerinnen from vorarlberg
- [x] write a blog article to introduce the vorarlberg project

[2021-11-01 08:22] zaziemo opened #1186 "Add Rätoromanisch in the list of languages"
One registred person wants us to add rätoromanisch - her native language - in our list of languages.
It seems to be a group of several languages with different ISO-Codes: https://de.wikipedia.org/wiki/R%C3%A4toromanische_Sprachen